nodered/flows.json
[{"id":"8dbc141b.03ec78","type":"tab","label":"File Upload","disabled":false,"info":""},{"id":"c0bfac1e.651dc","type":"tab","label":"File Download","disabled":false,"info":""},{"id":"51d0fdc5.dd1f84","type":"tab","label":"UIbuilder","disabled":false,"info":""},{"id":"3c1daf34.f0778","type":"tab","label":"Menu","disabled":false,"info":""},{"id":"b097b4d6.d4cfe8","type":"tab","label":"Document","disabled":false,"info":""},{"id":"cd458421.39db78","type":"tab","label":"Rules","disabled":false,"info":""},{"id":"1bce6373.1f553d","type":"tab","label":"Discovery","disabled":false,"info":""},{"id":"e9c58b9d.ffde88","type":"tab","label":"JSONLogic","disabled":false,"info":""},{"id":"647ac3b4.129ecc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"74afde7d.c4af","type":"tab","label":"Excel Sheets Test","disabled":false,"info":""},{"id":"ca549a8e.dbb4c8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"4f6b87ae.7d3bb","type":"subflow","name":"List Files","info":"# List files\n\nWill list files in a directory.\n\nPath can be set in `msg.payload` or by setting the `DIRECTORY` environment variable.\n\nExtensions can be filtered by settings the `EXTENSIONS` environment variable to an Array of extensions.\n","category":"","in":[{"x":80,"y":80,"wires":[{"id":"cf0b484b.b70c9"}]}],"out":[{"x":840,"y":40,"wires":[{"id":"13486428.bcfc4c","port":0}]}],"env":[{"name":"DIRECTORY","type":"str","value":""},{"name":"EXTENSIONS","type":"json","value":"[]"}]},{"id":"19ad2b6f.f11b85","type":"subflow","name":"FIle Upload","info":"","category":"","in":[],"out":[{"x":1140,"y":280,"wires":[{"id":"144a9c8f.af7e9b","port":0},{"id":"854a9fb8.a668a8","port":0}]}],"env":[{"name":"UPLOAD_DIR","type":"str","value":"."},{"name":"EXTENSIONS","type":"json","value":"[]"}],"outputLabels":["fileWritten"]},{"id":"305b0b47.4014f4","type":"subflow","name":"RRulesGet","info":"","category":"","in":[{"x":100,"y":120,"wires":[{"id":"bba00fa7.4bc0f"}]}],"out":[{"x":700,"y":220,"wires":[{"id":"e63c52c7.64dad","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"KEY","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"27c75ece.a3d882","type":"subflow","name":"JSON escape","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"9492d884.4e09d8"}]}],"out":[{"x":940,"y":480,"wires":[{"id":"c7429c2a.5f4dd","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4b8130d2.d019b","type":"group","z":"b097b4d6.d4cfe8","name":"readDocx","style":{"label":true},"nodes":["83676d75.c26bb","5518d9c.6a17428","dfe272b3.c9c01","668fa110.a42b4"],"x":34,"y":1019},{"id":"3557d1d4.012a2e","type":"group","z":"b097b4d6.d4cfe8","name":"readSheet","style":{"label":true},"nodes":["aceff7fe.c26db8","2f240d6e.09ab52","f67eaceb.73b07","5962ed01.16dd34","effb2081.de72c","669d59a0.a30148","6b174dc5.77c944","6426aad3.f54a24","329a587c.24d778","36532cc2.a99744","3ee76a75.1d51d6"],"x":34,"y":1519},{"id":"12e37e35.9b9622","type":"group","z":"b097b4d6.d4cfe8","name":"submitToken","style":{"label":true},"nodes":["1cbb9c62.6280a4","df6aeba2.84b2c8","588d6b4.1316894","d62446a1.aefb78","45b5cd2c.ecb3e4","727555c4.56b9cc","23c88e28.ec51e2","c1e67720.f521b8","e792840b.9085b8","da0977ed.77ee98","c66d497d.d703e8"],"x":34,"y":2679},{"id":"6559b286.f54b9c","type":"group","z":"b097b4d6.d4cfe8","name":"docTable","style":{"label":true},"nodes":["2edda358.fecbac","8d57c38e.1a977","e399a680.4395b8","72d51238.c3abbc","433092b.fbb746c","6fbe2c33.405a74","d2111d73.660a4","1e896547.2d8c5b","d5ceaa32.d799e8","5fbb99e.722b368","888346b1.e3f6b8","9c6183ce.87e72"],"x":34,"y":2319},{"id":"4f721384.c5e24c","type":"group","z":"b097b4d6.d4cfe8","name":"readFile","style":{"label":true},"nodes":["cef41412.3b5178","def614bf.01b198","d68a1d8d.39a","21848654.cf924a","babc3a9b.aaf958","17553919.c43b87","8938fc4a.1a197","6a88a5ea.5fd6ac","9c0c22ff.dc091"],"x":34,"y":1219},{"id":"1b4c1ef.5ec66e1","type":"group","z":"b097b4d6.d4cfe8","name":"Debuging SQL statement","style":{"label":true},"nodes":["41bc71b8.c7fc7","c7322f0e.ae4c6","1d6b4b38.ad4295"],"x":34,"y":4599},{"id":"71838d58.4384f4","type":"group","z":"b097b4d6.d4cfe8","name":"readXlsx","style":{"label":true},"nodes":["e8181109.f9a9f","48a2dda3.297734","93639268.1eb97","80553a8.80ddec8","24b18580.89608a","7c8aa57.f10d05c","a2df6d03.a9c7b","f21f3cae.1f337","39ddd8d3.016468","d158d635.635668","bd4c32ab.d5444","aa1e938f.4595c"],"x":34,"y":1899},{"id":"7098cab0.055e84","type":"group","z":"b097b4d6.d4cfe8","name":"listFiles","style":{"label":true},"nodes":["e2516822.7b62f8","1f15531c.9a5c3d","ffd1ea05.2b8d48","28a5f391.99cfac","e6d81063.71ec7","65562356.f1f91c","5d3849be.0f3e58","d58d11db.f1411","9a166025.ace1f"],"x":34,"y":839},{"id":"3bb4fe14.70a9c2","type":"group","z":"b097b4d6.d4cfe8","name":"Element Relationship Diagram","style":{"label":true},"nodes":["aca8eab7.b40b88","8124936d.c4c19","a6aeeb35.f22198","7244a8c8.39b288","9cb6e46.0726218"],"x":34,"y":3219},{"id":"c6f20105.6ac4b","type":"group","z":"b097b4d6.d4cfe8","name":"ER Diagram","style":{"label":true},"nodes":["c82002fa.1e625","5f7d7a84.5eb034","c8f01ca6.6ad9c","72fc3e72.21df3"],"x":34,"y":3359},{"id":"6c6d0299.70728c","type":"group","z":"b097b4d6.d4cfe8","name":"Diagram","style":{"label":true},"nodes":["bb8f6e84.fd782","b6c1caa4.b09818","29fb1e4a.417ea2","8aaab62b.95afe8","ef678498.7d9358","c958fb59.629d68","52b14ee9.c992b","349f0d5e.8784f2","50c84438.bdccfc","8d3653ec.75466","65079d36.361734","38e9d4d4.5cc62c"],"x":34,"y":3499},{"id":"964eeb34.e25bb8","type":"group","z":"b097b4d6.d4cfe8","name":"Visualization","style":{"label":true},"nodes":["f0a20235.77573","7dcd064f.28c668","cf641783.998668","d128e0da.d26c7","be6b8940.907688","bad051ab.6b4f2","846e157b.dcb3c8","b80c8814.24dc08","72f2b96d.08ab48"],"x":34,"y":2959},{"id":"efc52183.fc57f","type":"group","z":"b097b4d6.d4cfe8","name":"downloadER","style":{"label":true},"nodes":["9c87140f.dc5358","dcfb0464.d546b8","b116c45a.c24d98","2df5f2b6.8bd27e","e35b237d.be7d7","e2c6f81b.05da78","689e4d1d.7cd9d4","7505b8a2.3b4ee8"],"x":34,"y":3819},{"id":"dd788697.1fe958","type":"group","z":"b097b4d6.d4cfe8","name":"Optional Dictionary","style":{"label":true},"nodes":["bd9258ee.125918","8ba76f99.8f42","ff6bd392.be93e","93a223cf.49a91","f20d9f3d.96a4a","c2ed0546.c225a8","3837bc12.764494","131709d4.8884b6","af8ba709.a68308"],"x":34,"y":519},{"id":"1ce1d98b.e4c6d6","type":"group","z":"cd458421.39db78","name":"getCategories","style":{"label":true},"nodes":["d9a6764b.e5e2c8","3c0eff22.28b3f","47bb6bca.78a3d4","35a321cb.b8322e","50be339e.8ee8fc","7eac9bf4.c2b284","74cb5814.e02388"],"x":34,"y":379},{"id":"bb25f8dd.197cb8","type":"group","z":"e9c58b9d.ffde88","name":"getCategories","style":{"label":true},"nodes":["76e19f4d.486c8","6d3d7ab2.8c9234","dfd64588.3584b8","8c72ba7d.a74548","bf0e31d9.96c18","644d22ae.ff140c","c67dbe3a.b7042"],"x":34,"y":379},{"id":"e3b3334a.1a633","type":"group","z":"cd458421.39db78","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bd7964fe.e1f798","17857c21.075414","372f1f3c.6f761","3100be24.249a02","76966ae1.fcfb54","3df9baf5.a0a206","169b2cbc.d316f3","ac1a40dd.51a6c"],"x":34,"y":639},{"id":"b2721bab.2b7318","type":"group","z":"e9c58b9d.ffde88","name":"getJsonLogic","style":{"label":true},"nodes":["8c343aa1.13cff8","9ec20b41.69a888","f39061c2.d9229","a1f77999.a85398","1ff4f29c.0792bd","30d2ed1e.719f42","de4868eb.e5c968","b1226f86.8fb0f","2cf157fc.d58db8"],"x":34,"y":639},{"id":"c677afa4.eac9d","type":"group","z":"1bce6373.1f553d","name":"getDictionary","style":{"label":true},"nodes":["3ef5d4e8.8a76cc","585718e7.5f7748","3bb69cba.ed1154","4bf28a50.da8d54","e3c31527.2ab4d8","b1c1f834.2ea4c8","bed7bdd9.ec1c","cd0a9f6f.c890c"],"x":34,"y":399,"w":872,"h":202},{"id":"a8e38b0a.76ea58","type":"group","z":"1bce6373.1f553d","name":"getJsonLogic","style":{"label":true},"nodes":["7694430c.29513c","4df1f46b.baccbc","24b7f7fe.5c9ab8","11d6c7ba.0021d8","48455e6b.03334","2a2f2d44.b62a82"],"x":34,"y":659,"w":782,"h":162},{"id":"4247aac2.748f34","type":"group","z":"1bce6373.1f553d","name":"saveFlow","style":{"label":true},"nodes":["4ac2f342.d9c31c","7f4f6360.991d9c","2493a561.3fe5aa","78738301.c478cc","c143d976.767048","280d7fd5.30408","551af372.f7cbac","59b422a1.81f65c"],"x":34,"y":879,"w":782,"h":162},{"id":"7488d8fb.e342a8","type":"group","z":"1bce6373.1f553d","name":"getFlowList","style":{"label":true},"nodes":["c79b941e.7f3b28","36ad9f1f.f1ffe","4b5ec486.f2562c","8fbc71a7.3ac0e","ccc11275.a7d09"],"x":34,"y":1099,"w":802,"h":162},{"id":"3dd7a3c.d66c35c","type":"group","z":"1bce6373.1f553d","name":"getTaskList","style":{"label":true},"nodes":["e551a682.ffa138","7f01b733.9b3028","ab786a62.a4f558","30b405ca.6ab10a","ec0136ef.ae2818"],"x":34,"y":1539,"w":802,"h":162},{"id":"8a40372c.7e8758","type":"group","z":"1bce6373.1f553d","name":"saveTask","style":{"label":true},"nodes":["c651ede2.82eef","d2c4ff3d.d7429","51994c8a.c70f04","18764f37.3f0421","2c0854cc.a2deac","f1d8378b.5a9448","13386b9e.bd93a4","8764a8cb.81a6a8"],"x":34,"y":1319,"w":782,"h":162},{"id":"92ce3f34.9d635","type":"group","z":"b097b4d6.d4cfe8","name":"svg_rel","style":{"label":true},"nodes":["74d68189.29aa3","fce15f66.19285","bbd07c21.d8623","ea621d4d.2e8b6","65120b74.4f8264","3bd3fab7.0aaba6","7b13c69f.a3ded8","b13937e4.411e28","59da8fc1.c7587"],"x":34,"y":4099},{"id":"1fc1dcb6.7d2873","type":"group","z":"b097b4d6.d4cfe8","name":"downloadEL","style":{"label":true},"nodes":["1ffb83be.21653c","2f15a060.df36c","365c7f3.5cc778","5695ea41.da5924"],"x":34,"y":4399},{"id":"79ba4aa6.8de9c4","type":"group","z":"1bce6373.1f553d","name":"svg_rel","style":{"label":true},"nodes":["fc40e06a.327d2","ca107aa0.0b14a8","4724f8e3.a1cd18","64a48dd3.bbedb4","848dff4e.96a94","120a85e5.35040a","e3a6c6ea.604738","5489eb4a.f71764","9638a442.996c18"],"x":54,"y":2419,"w":992,"h":242},{"id":"4b26fe81.bb137","type":"group","z":"1bce6373.1f553d","name":"Diagram","style":{"label":true},"nodes":["6ee6cd3b.2739c4","e937659a.055248","171b4f22.7e2d51","efc73623.e6ffd8","2b2e71a8.b9bb6e","d2c1822c.7e8e2","f430fe1b.cab1a","7646baa1.f964e4","2e275159.74822e","2c243f71.1b7c9","1c78147f.8c08cc"],"x":34,"y":2099,"w":962,"h":242},{"id":"aa6f14b7.757b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Token Analyzer","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a0efbb89.5e42d8","type":"redis-config","name":"local","options":"{\"port\":6379,\"host\":\"127.0.0.1\",\"family\":4,\"db\":0}","cluster":false,"optionsType":"json"},{"id":"1351911c.3264cf","type":"digitaloak-postgresql-connection-manager","name":"postgres(raspberrypi)","host":"raspberrypi","port":"5432","database":"tokenize","tls":"","use_tls":false,"pool_max_clients":"10","pool_client_max_idle":"10000","client_query_timeout":"","client_statement_timeout":"","client_connection_timeout_millis":"","is_client_enabled":"1"},{"id":"8e9e15.3de6d1e8","type":"ui_tab","name":"File Upload","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d26c60af.3c739","type":"ui_group","name":"Group 1","tab":"8e9e15.3de6d1e8","order":1,"disp":false,"width":"6","collapse":false},{"id":"42ab6c67.65db14","type":"ui_group","name":"Docx","tab":"d8f351ac.dad6","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8f351ac.dad6","type":"ui_tab","name":"Docx","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a567e129.be9ff","type":"ui_group","name":"Select Excel","tab":"4d638383.372d4c","order":1,"disp":true,"width":"6","collapse":true},{"id":"902c0703.7f4918","type":"ui_group","name":"Select Sheet","tab":"4d638383.372d4c","order":2,"disp":true,"width":6,"collapse":true},{"id":"dc27efd2.fbff","type":"ui_group","name":"Sheet Display","tab":"4d638383.372d4c","order":3,"disp":true,"width":"12","collapse":true},{"id":"50066238.cb534c","type":"ui_group","name":"Select Column ","tab":"4d638383.372d4c","order":4,"disp":true,"width":"6","collapse":true},{"id":"4d638383.372d4c","type":"ui_tab","name":"Excel","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"7a2d77a6.0b4d88","type":"ui_group","name":"Docx","tab":"e8a13106.33917","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8a13106.33917","type":"ui_tab","name":"Docx","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"208379c0.81563e","type":"exec","z":"4f6b87ae.7d3bb","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":60,"wires":[["13486428.bcfc4c"],[],[]]},{"id":"13486428.bcfc4c","type":"change","z":"4f6b87ae.7d3bb","name":"split and filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $files := [$split(payload, '\\n')[$ != \"\"]];\t   $count($env('EXTENSIONS')) = 0 ? [$files] : [\t       $files[\t           $split($, '.')[-1] in $env('EXTENSIONS')\t       ]\t   ];\t)","tot":"jsonata"},{"t":"set","p":"path","pt":"msg","to":"DIRECTORY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[[]]},{"id":"cf0b484b.b70c9","type":"switch","z":"4f6b87ae.7d3bb","name":"","property":"$env('DIRECTORY')","propertyType":"jsonata","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":80,"wires":[["208379c0.81563e"],["56426a5a.fbc44c"]]},{"id":"56426a5a.fbc44c","type":"change","z":"4f6b87ae.7d3bb","name":"DIRECTORY","rules":[{"t":"set","p":"payload","pt":"msg","to":"DIRECTORY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["208379c0.81563e"]]},{"id":"954c0325.f4f63","type":"http in","z":"19ad2b6f.f11b85","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":140,"y":440,"wires":[["7433a631.a7f58","faf9ee8.6642a1"]]},{"id":"964d2a30.34e938","type":"http response","z":"19ad2b6f.f11b85","name":"","statusCode":"","headers":{},"x":850,"y":440,"wires":[]},{"id":"ea605dad.7b36a8","type":"subflow:4f6b87ae.7d3bb","z":"19ad2b6f.f11b85","name":"","env":[{"name":"DIRECTORY","type":"env","value":"UPLOAD_DIR"},{"name":"EXTENSIONS","type":"env","value":"EXTENSIONS"}],"x":380,"y":140,"wires":[["b42b38bf.d5a548"]]},{"id":"bdb6a329.8574b","type":"link in","z":"19ad2b6f.f11b85","name":"refreshFileDropdown","links":["15ae2641.f1cc7a","be23c76f.4a3988"],"x":75,"y":140,"wires":[["f0813c91.8c7838"]]},{"id":"62157c1a.4444bc","type":"change","z":"19ad2b6f.f11b85","name":"","rules":[{"t":"set","p":"selectedFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[[]]},{"id":"7433a631.a7f58","type":"change","z":"19ad2b6f.f11b85","name":"getFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["63e6ebc1.1cc124"]]},{"id":"10c1284a.0e3f98","type":"file","z":"19ad2b6f.f11b85","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":830,"y":340,"wires":[["144a9c8f.af7e9b"]]},{"id":"af0d1f9b.6eb468","type":"inject","z":"19ad2b6f.f11b85","name":"","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":80,"wires":[["f0813c91.8c7838"]]},{"id":"a0bbc93d.d6f6b8","type":"change","z":"19ad2b6f.f11b85","name":"getSelectedFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Delete File ?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["3e909d09.b8b5f2"]]},{"id":"854a9fb8.a668a8","type":"file","z":"19ad2b6f.f11b85","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":830,"y":220,"wires":[["be23c76f.4a3988"]]},{"id":"a33238b4.01cae","type":"switch","z":"19ad2b6f.f11b85","name":"OK ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":220,"wires":[["854a9fb8.a668a8"]]},{"id":"b54a9427.62f75","type":"catch","z":"19ad2b6f.f11b85","name":"","scope":null,"x":120,"y":500,"wires":[["1a19fda8.e72fd2"]]},{"id":"1a19fda8.e72fd2","type":"change","z":"19ad2b6f.f11b85","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":500,"wires":[["563135cc.7b97e4"]]},{"id":"be23c76f.4a3988","type":"link out","z":"19ad2b6f.f11b85","name":"refreshAfterDelete","links":["bdb6a329.8574b"],"x":1135,"y":220,"wires":[]},{"id":"15ae2641.f1cc7a","type":"link out","z":"19ad2b6f.f11b85","name":"refreshAfterUpload","links":["bdb6a329.8574b"],"x":1135,"y":340,"wires":[]},{"id":"faf9ee8.6642a1","type":"change","z":"19ad2b6f.f11b85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["964d2a30.34e938"]]},{"id":"f0813c91.8c7838","type":"delay","z":"19ad2b6f.f11b85","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":140,"wires":[["ea605dad.7b36a8"]]},{"id":"a5f544d.69b9bb8","type":"watch","z":"19ad2b6f.f11b85","name":"","files":"$(UPLOAD_DIR)","recursive":"","x":140,"y":40,"wires":[["f0813c91.8c7838"]]},{"id":"b42b38bf.d5a548","type":"change","z":"19ad2b6f.f11b85","name":"options","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["a425ba62.ff1df"]]},{"id":"63e6ebc1.1cc124","type":"switch","z":"19ad2b6f.f11b85","name":"extensionAllowed ?","property":"$env('EXTENSIONS')","propertyType":"jsonata","rules":[{"t":"cont","v":"$split(filename, '.')[-1]","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":360,"wires":[["10c1284a.0e3f98"],["e34d7e40.c64b5"]]},{"id":"e34d7e40.c64b5","type":"function","z":"19ad2b6f.f11b85","name":"Error","func":"node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n","outputs":0,"noerr":0,"x":830,"y":380,"wires":[]},{"id":"144a9c8f.af7e9b","type":"change","z":"19ad2b6f.f11b85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"},{"t":"set","p":"activity","pt":"msg","to":"upload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":340,"wires":[["15ae2641.f1cc7a"]]},{"id":"51272d56.830874","type":"ui_button","z":"19ad2b6f.f11b85","name":"","group":"d26c60af.3c739","order":3,"width":0,"height":0,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":110,"y":220,"wires":[["a0bbc93d.d6f6b8"]]},{"id":"a425ba62.ff1df","type":"ui_dropdown","z":"19ad2b6f.f11b85","name":"","label":"","tooltip":"","place":"Select option","group":"d26c60af.3c739","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":750,"y":140,"wires":[["62157c1a.4444bc"]]},{"id":"3e909d09.b8b5f2","type":"ui_toast","z":"19ad2b6f.f11b85","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":470,"y":220,"wires":[["a33238b4.01cae"]]},{"id":"563135cc.7b97e4","type":"ui_toast","z":"19ad2b6f.f11b85","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":530,"y":500,"wires":[]},{"id":"1617f361.5dac2d","type":"ui_template","z":"19ad2b6f.f11b85","group":"d26c60af.3c739","name":"Upload","order":1,"width":"6","height":"3","format":"<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":400,"wires":[[]]},{"id":"bba00fa7.4bc0f","type":"change","z":"305b0b47.4014f4","name":"Get Storing Rules","rules":[{"t":"set","p":"filedata","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"TOPIC","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"KEY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":120,"wires":[["edd984cc.57b268"]]},{"id":"edd984cc.57b268","type":"redis-command","z":"305b0b47.4014f4","server":"a0efbb89.5e42d8","command":"HGET","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":490,"y":120,"wires":[["e6b3eb1.16d2718"]]},{"id":"e6b3eb1.16d2718","type":"json","z":"305b0b47.4014f4","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":120,"wires":[["e63c52c7.64dad"]]},{"id":"e63c52c7.64dad","type":"change","z":"305b0b47.4014f4","name":"","rules":[{"t":"set","p":"rules","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"filedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[[]]},{"id":"baf85b56.4235f8","type":"uibuilder","z":"51d0fdc5.dd1f84","name":"","topic":"","url":"tokenize","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"reload":false,"x":380,"y":340,"wires":[["a4303dd9.a75c8","d2deb51e.37f098"],["9c35ae14.cc5ac","8456e92a.0c2418"]]},{"id":"fc4f3e3b.0cb95","type":"subflow:19ad2b6f.f11b85","z":"8dbc141b.03ec78","name":"","env":[{"name":"UPLOAD_DIR","value":"/home/pi/JIM/input","type":"str"},{"name":"EXTENSIONS","value":"[\"docx\",\"xlsx\"]","type":"json"}],"x":190,"y":180,"wires":[[]]},{"id":"9c35ae14.cc5ac","type":"debug","z":"51d0fdc5.dd1f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"7160e491.8fa45c","type":"switch","z":"51d0fdc5.dd1f84","name":"uibuilderCtrl","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"ready for content","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":580,"wires":[["49415a63.41ce54"]]},{"id":"a4303dd9.a75c8","type":"debug","z":"51d0fdc5.dd1f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"d2deb51e.37f098","type":"link out","z":"51d0fdc5.dd1f84","name":"","links":["c24069c9.e5b998"],"x":635,"y":320,"wires":[]},{"id":"c24069c9.e5b998","type":"link in","z":"51d0fdc5.dd1f84","name":"","links":["d2deb51e.37f098"],"x":175,"y":800,"wires":[["87551894.285428"]]},{"id":"8456e92a.0c2418","type":"link out","z":"51d0fdc5.dd1f84","name":"","links":["3de54cf8.a9f924"],"x":635,"y":360,"wires":[]},{"id":"3de54cf8.a9f924","type":"link in","z":"51d0fdc5.dd1f84","name":"","links":["8456e92a.0c2418"],"x":175,"y":580,"wires":[["7160e491.8fa45c"]]},{"id":"ee359376.e7b86","type":"link in","z":"51d0fdc5.dd1f84","name":"uibuilder-in: Document","links":["365c7f3.5cc778","3ee76a75.1d51d6","6fbe2c33.405a74","727555c4.56b9cc","9a166025.ace1f","9c0c22ff.dc091","c2ed0546.c225a8","e2c6f81b.05da78","ef678498.7d9358"],"x":175,"y":220,"wires":[["baf85b56.4235f8"]]},{"id":"480b946d.ccda7c","type":"change","z":"647ac3b4.129ecc","name":"Array data + mark last array item","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"name\":\"John\",\"lastname\":\"Wick\"},{\"name\":\"Elton\",\"lastname\":\"John\"},{\"name\":\"Donald\",\"lastname\":\"TheDuck\"}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"$map(payload,function($v,$i,$a) {\t    $i = $count($a) - 1 ? $merge([$v, {\"last\":true}]) : $v\t})","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[[]]},{"id":"28eb0f5e.0a0ab","type":"json","z":"27c75ece.a3d882","name":"postgress.subgroup","property":"postgress.subgroup","action":"str","pretty":false,"x":230,"y":240,"wires":[["cf0fa274.9fa83"]]},{"id":"cf0fa274.9fa83","type":"function","z":"27c75ece.a3d882","name":"escape JSON","func":"function escapeUnicode(str) {\n    return str.replace(/[^\\0-~]/g, function(ch) {\n        return \"\\\\u\" + (\"000\" + ch.charCodeAt().toString(16)).slice(-4);\n    });\n}\n/*\nfunction escapeUnicode(str) {\n   return [...str].map(c => /^[\\x00-\\x7F]$/.test(c) ? c : c.split(\"\").map(a => \"\\\\u\" + a.charCodeAt().toString(16).padStart(4, \"0\")).join(\"\")).join(\"\");\n}\n*/\nif (\"data\" in msg.postgress) {\n    for (var idx in msg.postgress.data) {\n        var fieldname = msg.postgress.data[idx].fieldname;\n        var newFieldname = fieldname.replace(/\\n/g, \"\\\\n\")\n                                  .replace(/\\'/g, \"''\")\n                                  //.replace(/’/g, \"''\")\n                                  //.replace(/\\u2019/g, \"\\\\'\")\n                                  .replace(/\\\"/g, '\\\\\"')\n                                  //.replace(/\\“/g, '\\\\“')\n                                  //.replace(/\\”/g, '\\\\”')\n                                  //.replace(/\\&/g, \"\\\\&\")\n                                  .replace(/\\r/g, \"\\\\r\")\n                                  .replace(/\\t/g, \"\\\\t\")\n                                  .replace(/\\f/g, \"\\\\f\");\n    \n        msg.postgress.data[idx].fieldname = newFieldname;\n        if (typeof msg.postgress.data[idx].group === 'string') {\n            msg.postgress.data[idx].group = msg.postgress.data[idx].group.split(\",\");\n        }\n        if (fieldname.includes(\"who illegally use someone else\")) {\n            testfn = escapeUnicode(fieldname);\n            /*\n            node.warn(\"idx[\"+idx+\"]:\"+testfn);\n            node.warn(\"idx[\"+idx+\"]:\"+newFieldname);\n            node.warn(\"A'\".charCodeAt(1));\n            */\n            /*\n            for (var pos in fieldname) {\n                node.warn(fieldname[pos]+\":pos[\"+pos+\"][\"+fieldname.charCodeAt(pos)+\"]\")\n            }*/\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":240,"wires":[["58fff176.ed26f"]]},{"id":"2cd33197.430bbe","type":"json","z":"27c75ece.a3d882","name":"postgress.language","property":"postgress.language","action":"str","pretty":false,"x":490,"y":300,"wires":[["cf0c9874.4d0c18"]]},{"id":"58fff176.ed26f","type":"json","z":"27c75ece.a3d882","name":"postgress.data","property":"postgress.data","action":"str","pretty":false,"x":220,"y":300,"wires":[["2cd33197.430bbe"]]},{"id":"9492d884.4e09d8","type":"change","z":"27c75ece.a3d882","name":"","rules":[{"t":"set","p":"postgress","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"postgress.subgroup","pt":"msg","to":"{\t   'filename':$split(msg.postgress.filename, \"/\")[$count($split(msg.postgress.filename, \"/\"))-1],\t   'ext':msg.postgress.ext,\t   'col':msg.postgress.column,\t   'sheet':msg.postgress.sheet\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[["28eb0f5e.0a0ab"]]},{"id":"199a7a3f.2b2f56","type":"change","z":"3c1daf34.f0778","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.menu","pt":"msg","to":"[{\"id\":1,\"href\":\"/tokenize\",\"text\":\"Dashboard\"},{\"id\":2,\"href\":\"/tokenize/document.html\",\"text\":\"Document\"},{\"id\":3,\"href\":\"/tokenize/rules.html\",\"text\":\"Rules\"},{\"id\":4,\"href\":\"/tokenize/discovery.html\",\"text\":\"Discovery\"},{\"id\":5,\"href\":\"/tokenize/jsonlogic.html\",\"text\":\"JSON Logic\"}]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"menu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[["651994a8.e7d24c"]]},{"id":"1100db4c.1d2385","type":"link in","z":"3c1daf34.f0778","name":"menu-in","links":["49415a63.41ce54"],"x":155,"y":100,"wires":[["a56617d3.b2d6c8"]]},{"id":"651994a8.e7d24c","type":"link out","z":"3c1daf34.f0778","name":"","links":["bc40c464.1ed498"],"x":935,"y":100,"wires":[]},{"id":"88588598.afde38","type":"inject","z":"3c1daf34.f0778","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["a56617d3.b2d6c8"]]},{"id":"49415a63.41ce54","type":"link out","z":"51d0fdc5.dd1f84","name":"uibuilderCtrl-out","links":["1100db4c.1d2385"],"x":635,"y":580,"wires":[]},{"id":"bc40c464.1ed498","type":"link in","z":"51d0fdc5.dd1f84","name":"uibuilder-in: Menu","links":["651994a8.e7d24c"],"x":175,"y":280,"wires":[["baf85b56.4235f8"]]},{"id":"a56617d3.b2d6c8","type":"change","z":"3c1daf34.f0778","name":"","rules":[{"t":"delete","p":"uibuilderCtrl","pt":"msg"},{"t":"delete","p":"cacheControl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["199a7a3f.2b2f56"]]},{"id":"87551894.285428","type":"switch","z":"51d0fdc5.dd1f84","name":"module","property":"module","propertyType":"msg","rules":[{"t":"eq","v":"dashboard","vt":"str"},{"t":"eq","v":"document","vt":"str"},{"t":"eq","v":"rules","vt":"str"},{"t":"eq","v":"discovery","vt":"str"},{"t":"eq","v":"jsonlogic","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":380,"y":800,"wires":[["77f6e751.ac5c68"],["3106dd33.e60ca2"],["fdd44903.e06e68"],["9c0a8243.d7395"],["3c1ce6d.f6eda1a"]]},{"id":"77f6e751.ac5c68","type":"link out","z":"51d0fdc5.dd1f84","name":"module-out: Dashboard","links":[],"x":635,"y":720,"wires":[]},{"id":"3106dd33.e60ca2","type":"link out","z":"51d0fdc5.dd1f84","name":"module-out: Document","links":["f238b26f.c716a"],"x":635,"y":760,"wires":[]},{"id":"f238b26f.c716a","type":"link in","z":"b097b4d6.d4cfe8","name":"document-in","links":["3106dd33.e60ca2"],"x":195,"y":240,"wires":[["8077f267.90b2d","361a6756.f23f38"]]},{"id":"8077f267.90b2d","type":"switch","z":"b097b4d6.d4cfe8","name":"instruction","property":"payload.instruction","propertyType":"msg","rules":[{"t":"eq","v":"readDocx","vt":"str"},{"t":"eq","v":"readFile","vt":"str"},{"t":"eq","v":"readSheet","vt":"str"},{"t":"eq","v":"readXlsx","vt":"str"},{"t":"eq","v":"submitToken","vt":"str"},{"t":"eq","v":"visualize","vt":"str"},{"t":"eq","v":"getFileList","vt":"str"},{"t":"eq","v":"readDic","vt":"str"},{"t":"eq","v":"downloadER","vt":"str"},{"t":"eq","v":"downloadEL","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":370,"y":240,"wires":[["ef9a576d.f7c688"],["623f5f0d.13adf"],["b9f8cc9.d89c83"],["c1dd6751.392348"],["db4d94f1.84ad38"],["402deb3d.ea7954"],["4f2b8035.ff827"],["4118abef.3a3c84"],["8dbfa665.97e138"],["7f6478e3.434e88"]]},{"id":"ef9a576d.f7c688","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["dfe272b3.c9c01"],"x":575,"y":60,"wires":[]},{"id":"b9f8cc9.d89c83","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["aceff7fe.c26db8"],"x":575,"y":140,"wires":[]},{"id":"623f5f0d.13adf","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["21848654.cf924a"],"x":575,"y":100,"wires":[]},{"id":"c1dd6751.392348","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["e8181109.f9a9f"],"x":575,"y":180,"wires":[]},{"id":"db4d94f1.84ad38","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["1cbb9c62.6280a4"],"x":575,"y":220,"wires":[]},{"id":"431d46b3.d85388","type":"function","z":"b097b4d6.d4cfe8","name":"html encode","func":"/*\n\nreturn mystring.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\");\n\nconst escapeHTML = str => str.replace(/[&<>'\"]/g, \n  tag => ({\n      '&': '&amp;',\n      '<': '&lt;',\n      '>': '&gt;',\n      \"'\": '&#39;',\n      '\"': '&quot;'\n    }[tag]));\n*/\nvar cnt = 0;\nfor (var idx in msg.payload.data) {\n    var fieldname = msg.payload.data[idx].fieldname;\n    var newFieldname = fieldname.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\");\n    //msg.pafieldnameyload.data[idx].fieldname= msg.payload.data[idx].fieldname.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\");\n    if (cnt<2) {\n        node.warn(fieldname);\n        node.warn(newFieldname);\n    }\n    cnt = cnt + 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":4840,"wires":[[]]},{"id":"17db2d1f.ff8b93","type":"debug","z":"b097b4d6.d4cfe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":4800,"wires":[]},{"id":"bff91dd6.bebf1","type":"inject","z":"b097b4d6.d4cfe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"1\":\"&test\",\"2\":\"<>\",\"3\":\"()\",\"4\":\"'\",\"5\":\"\\\"\"}","payloadType":"json","x":250,"y":4800,"wires":[["469495de.274dbc"]]},{"id":"469495de.274dbc","type":"template","z":"b097b4d6.d4cfe8","name":"payload.data","field":"payload.data","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n{{#payload.data}}\n    {\n        \"idx\": {{{idx}}},\n        \"fieldname\": \"{{{fieldname}}}\",\n        \"status\": {{{status}}},\n        \"group\": {{#group}}\"{{.}}\"{{/group}}{{^group}}null{{/group}}\n    }{{^last}},{{/last}}\n{{/payload.data}}\n]","output":"json","x":510,"y":4800,"wires":[["17db2d1f.ff8b93"]]},{"id":"e02e6032.a6fad","type":"change","z":"b097b4d6.d4cfe8","name":"map last","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"$map(payload.data,function($v,$i,$a) {     $i = $count($a) - 1 ? $merge([$v, {\"last\":true}]) : $v })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":4880,"wires":[["469495de.274dbc"]]},{"id":"6c88ad94.f78d84","type":"change","z":"b097b4d6.d4cfe8","name":"","rules":[{"t":"set","p":"save","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"save.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":4940,"wires":[[]]},{"id":"b2307a7d.7bb2a8","type":"change","z":"b097b4d6.d4cfe8","name":"","rules":[{"t":"set","p":"save.data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"save","tot":"msg"},{"t":"delete","p":"save","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":4940,"wires":[[]]},{"id":"402deb3d.ea7954","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["f0a20235.77573"],"x":575,"y":260,"wires":[]},{"id":"f0a20235.77573","type":"link in","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","links":["402deb3d.ea7954","2de0573d.0eed78","c0e356ae.47c478"],"x":75,"y":3000,"wires":[["cf641783.998668"]]},{"id":"7dcd064f.28c668","type":"debug","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":3120,"wires":[]},{"id":"cf641783.998668","type":"subflow:27c75ece.a3d882","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","env":[],"x":260,"y":3000,"wires":[["72f2b96d.08ab48"]]},{"id":"d128e0da.d26c7","type":"digitaloak-postgresql-query","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":750,"y":3060,"wires":[["bad051ab.6b4f2","846e157b.dcb3c8","b80c8814.24dc08"]]},{"id":"be6b8940.907688","type":"link out","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","links":["1d6b4b38.ad4295"],"x":695,"y":3000,"wires":[]},{"id":"bad051ab.6b4f2","type":"debug","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":3120,"wires":[]},{"id":"c82002fa.1e625","type":"template","z":"b097b4d6.d4cfe8","g":"c6f20105.6ac4b","name":"ER Diagram","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"digraph models_diagram{\n    graph[rankdir=LR, overlap=false, splines=true];\n    node [shape=record, fontsize=9, fontname=\"Verdana\"];\n    edge [style=solid];\n\n{{#payload.rows}}\n  {{groupnm}} [shape=none, margin=0, label=<\n    <table border=\"0\" cellborder=\"1\" cellspacing=\"0\" cellpadding=\"4\">\n        <tr><td bgcolor=\"lightblue\">{{{group}}}</td></tr>\n        {{#data}}\n        <tr><td port=\"{{{idx}}}\" align=\"left\">{{{fieldname}}}</td></tr>\n        {{/data}}\n    </table>>];\n{{/payload.rows}} \n}\n","output":"str","x":250,"y":3400,"wires":[["c8f01ca6.6ad9c"]]},{"id":"aca8eab7.b40b88","type":"template","z":"b097b4d6.d4cfe8","g":"3bb4fe14.70a9c2","name":"Grouped Elements","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"digraph models_diagram{\n    graph[rankdir=LR, overlap=false, splines=true];\n    node [shape=record, fontsize=9, fontname=\"Verdana\"];\n    edge [style=solid];\n\n{{#payload.rows}}\n    {{groupnm}} [shape=none, margin=0, label=<\n        <table border=\"0\" cellborder=\"1\" cellspacing=\"0\" cellpadding=\"4\">\n            <tr><td bgcolor=\"lightblue\">{{{group}}}</td></tr>\n        </table>>];\n{{/payload.rows}}\n{{#payload.rows}}\n    {{#data}}\n        {{und_fieldname}} [shape=none, margin=0, label=<\n        <table border=\"0\" cellborder=\"1\" cellspacing=\"0\" cellpadding=\"4\">\n            <tr><td bgcolor=\"white\">{{{fieldname}}}</td></tr>\n        </table>>];\n    {{/data}}\n{{/payload.rows}}\n{{#payload.rows}}\n    {{#data}}\n        {{und_fieldname}} -> {{groupnm}} [class = {{groupnm}}_CLASS];\n    {{/data}}\n{{/payload.rows}}\n}\n","output":"str","x":510,"y":3260,"wires":[["8124936d.c4c19"]]},{"id":"fdb77adf.99e688","type":"template","z":"b097b4d6.d4cfe8","name":"graphviz sample","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"digraph models_diagram{\n    graph[rankdir=LR, overlap=false, splines=true];\n    node [shape=record, fontsize=9, fontname=\"Verdana\"];\n    edge [style=solid];\n  table0 [shape=none, margin=0, label=<\n    <table border=\"0\" cellborder=\"1\" cellspacing=\"0\" cellpadding=\"4\">\n        <tr><td bgcolor=\"lightblue\">Table 0</td></tr>\n        <tr><td port=\"0\" align=\"left\">ID: integer</td></tr>\n        <tr><td port=\"2\" align=\"left\">TABLE_1_ID: integer</td></tr>\n    </table>>];\n  table1 [shape=none, margin=0, label=<\n    <table border=\"0\" cellborder=\"1\" cellspacing=\"0\" cellpadding=\"4\">\n        <tr><td bgcolor=\"lightblue\">Table 1</td></tr>\n        <tr><td port=\"0\" align=\"left\">ID: integer</td></tr>\n        <tr><td port=\"1\" align=\"left\">NAME: string</td></tr>\n    </table>>];\n  table1:0 -> table0:2 [label=test arrowhead=crowtee style=dashed];\n}\n","output":"str","x":260,"y":4740,"wires":[[]]},{"id":"8124936d.c4c19","type":"change","z":"b097b4d6.d4cfe8","g":"3bb4fe14.70a9c2","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join($append('/home/pi/JIM/node-red-static/temp', [msg._socketId, \"_rel\"]),\"\")","tot":"jsonata"},{"t":"delete","p":"postgress","pt":"msg"},{"t":"delete","p":"query","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"svg_rel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3260,"wires":[["9cb6e46.0726218"]]},{"id":"846e157b.dcb3c8","type":"link out","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","links":["a6aeeb35.f22198"],"x":935,"y":3040,"wires":[]},{"id":"b80c8814.24dc08","type":"link out","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","links":["5f7d7a84.5eb034"],"x":935,"y":3080,"wires":[]},{"id":"a6aeeb35.f22198","type":"link in","z":"b097b4d6.d4cfe8","g":"3bb4fe14.70a9c2","name":"","links":["846e157b.dcb3c8"],"x":75,"y":3260,"wires":[["7244a8c8.39b288"]]},{"id":"5f7d7a84.5eb034","type":"link in","z":"b097b4d6.d4cfe8","g":"c6f20105.6ac4b","name":"","links":["b80c8814.24dc08"],"x":75,"y":3400,"wires":[["c82002fa.1e625"]]},{"id":"bb8f6e84.fd782","type":"debug","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":3680,"wires":[]},{"id":"b6c1caa4.b09818","type":"debug","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":3680,"wires":[]},{"id":"29fb1e4a.417ea2","type":"debug","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":3720,"wires":[]},{"id":"8aaab62b.95afe8","type":"change","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","rules":[{"t":"set","p":"svg","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"svg","tot":"msg"},{"t":"delete","p":"svg","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3640,"wires":[["ef678498.7d9358"]]},{"id":"ef678498.7d9358","type":"link out","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"Diagram","links":["ee359376.e7b86"],"x":935,"y":3640,"wires":[]},{"id":"c958fb59.629d68","type":"exec","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","command":"/usr/bin/dot","addpay":"filename","append":"-Tsvg ","useSpawn":"false","timer":"","oldrc":false,"name":"","x":250,"y":3680,"wires":[["52b14ee9.c992b"],["b6c1caa4.b09818"],["29fb1e4a.417ea2"]]},{"id":"52b14ee9.c992b","type":"function","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"SVG resize","func":"//msg.payload = msg.payload.replace(/svg width=\".*\" height=\".*\"/, 'svg width=\"100%\" height=\"100%\"');\nlet re = /<svg width=\".*\" height=\".*\"/;\n\nmsg.payload = msg.payload.replace(re, '<svg width=\"100%\" height=\"100%\"');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":3640,"wires":[["8aaab62b.95afe8","bb8f6e84.fd782"]]},{"id":"c8f01ca6.6ad9c","type":"change","z":"b097b4d6.d4cfe8","g":"c6f20105.6ac4b","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join($append('/home/pi/JIM/node-red-static/temp', [msg._socketId, \"_er\"]),\"\")","tot":"jsonata"},{"t":"delete","p":"postgress","pt":"msg"},{"t":"delete","p":"query","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"svg_er","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":3400,"wires":[["72fc3e72.21df3"]]},{"id":"349f0d5e.8784f2","type":"file","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":470,"y":3560,"wires":[["c958fb59.629d68","38e9d4d4.5cc62c"]]},{"id":"50c84438.bdccfc","type":"function","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"SVG patch","func":"let re = /[0-9]+__/g;\nlet re2 = /&/g;\n\nmsg.payload = msg.payload.replace(re, '');\nmsg.payload = msg.payload.replace(re2, '&#38;');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":3560,"wires":[["349f0d5e.8784f2"]]},{"id":"7244a8c8.39b288","type":"template","z":"b097b4d6.d4cfe8","g":"3bb4fe14.70a9c2","name":"Grouped Elements","field":"cssstyle","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n{{#payload.rows}}\n    .{{groupnm}}_CLASS {\n    }\n{{/payload.rows}}\n</style>\n","output":"str","x":270,"y":3260,"wires":[["aca8eab7.b40b88"]]},{"id":"83676d75.c26bb","type":"python-function","z":"b097b4d6.d4cfe8","g":"4b8130d2.d019b","name":"read docx","func":"import docx\n\nfilename = msg['payload']['filename']\nlanguage = msg['payload']['language']\noptional = msg['payload']['optional']\ndoc = docx.Document(msg['payload']['filename'])\nparas = [p.text for p in doc.paragraphs if p.text]\n\nextList = filename.split(\".\")\nmax = len(extList)\n\nmsg['payload'] = {}\n\ntableData = []\n\nidx=0\nfor line in paras:\n    tableData.append({\n        'idx':idx,\n        'fieldname':line, \n        'status':False,\n        'group': None\n    })\n    idx = idx + 1\n    \nmsg['payload']['data'] = tableData\nmsg['payload']['filename'] = filename\nmsg['payload']['ext'] = extList[max-1]\nmsg['payload']['language'] = language\nmsg['payload']['config'] = {}\n\ncol = [\n    {\n        'title':'No.',\n        'field':'idx',\n        'width': 60,\n        'align': 'right'\n    },\n    {\n        'title':'Field Name',\n        'field':'fieldname',\n        'editor': True\n    },\n    {\n        'title':'Status',\n        'field':'status',\n        'width': 90,\n        'align': 'center',\n        'formatter': 'tickCross',\n        'sorter': 'boolean',\n        'editor': True\n    },\n    {\n        'title':'Group',\n        'field':'group',\n        'editor': True\n    }\n]\n\nmsg['payload']['config']['col'] = col\nmsg['payload']['optional'] = optional\n\nmsg['topic'] = 'docTable'\n\nreturn msg","outputs":1,"x":240,"y":1060,"wires":[["5518d9c.6a17428","668fa110.a42b4"]]},{"id":"5518d9c.6a17428","type":"debug","z":"b097b4d6.d4cfe8","g":"4b8130d2.d019b","name":"docx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1120,"wires":[]},{"id":"dfe272b3.c9c01","type":"link in","z":"b097b4d6.d4cfe8","g":"4b8130d2.d019b","name":"out: read docx","links":["ef9a576d.f7c688","6fa23973.64ae78","13412be.4a87dd4"],"x":75,"y":1060,"wires":[["83676d75.c26bb"]]},{"id":"668fa110.a42b4","type":"link out","z":"b097b4d6.d4cfe8","g":"4b8130d2.d019b","name":"","links":["d5ceaa32.d799e8"],"x":455,"y":1060,"wires":[]},{"id":"aceff7fe.c26db8","type":"link in","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","links":["b9f8cc9.d89c83","b1614c72.69cb8","b3f6f58d.4e9c78"],"x":75,"y":1600,"wires":[["f67eaceb.73b07","effb2081.de72c"]]},{"id":"2f240d6e.09ab52","type":"file in","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"read a spreadsheet file as binary buffer","filename":"","format":"","chunk":false,"sendError":false,"x":590,"y":1600,"wires":[["5962ed01.16dd34"]]},{"id":"f67eaceb.73b07","type":"change","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"selectSheetName","pt":"msg","to":"payload.sheet","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1600,"wires":[["2f240d6e.09ab52"]]},{"id":"5962ed01.16dd34","type":"book","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","raw":false,"x":870,"y":1600,"wires":[["669d59a0.a30148"]]},{"id":"effb2081.de72c","type":"debug","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1560,"wires":[]},{"id":"669d59a0.a30148","type":"sheet","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","sheetName":"","x":230,"y":1680,"wires":[["6b174dc5.77c944"]]},{"id":"6b174dc5.77c944","type":"change","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","rules":[{"t":"set","p":"selectRange","pt":"msg","to":"payload['!ref']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1680,"wires":[["6426aad3.f54a24"]]},{"id":"6426aad3.f54a24","type":"sheet-to-json","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","raw":"false","range":"","header":"1","blankrows":false,"x":250,"y":1760,"wires":[["329a587c.24d778"]]},{"id":"329a587c.24d778","type":"function","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","func":"var header = msg.payload[0] ;\nvar data = msg.payload;\nvar columns = [];\n\nfor (var key in header) {\n    columns.push({\n        'title': key,\n        'field': key\n    });\n}\n\nmsg.payload = {};\n\nmsg.payload.data = data;\n\nmsg.payload.config = {\n    'col':columns\n};\n\nmsg.topic = \"readSheet\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1760,"wires":[["36532cc2.a99744","3ee76a75.1d51d6"]]},{"id":"36532cc2.a99744","type":"debug","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":1800,"wires":[]},{"id":"3ee76a75.1d51d6","type":"link out","z":"b097b4d6.d4cfe8","g":"3557d1d4.012a2e","name":"","links":["ee359376.e7b86"],"x":835,"y":1760,"wires":[]},{"id":"1cbb9c62.6280a4","type":"link in","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","links":["db4d94f1.84ad38","b2024e6f.21e5b","f74e1dbe.20946"],"x":75,"y":2720,"wires":[["45b5cd2c.ecb3e4","e792840b.9085b8"]]},{"id":"df6aeba2.84b2c8","type":"digitaloak-postgresql-query","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":250,"y":2820,"wires":[["d62446a1.aefb78","23c88e28.ec51e2"]]},{"id":"588d6b4.1316894","type":"debug","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":2760,"wires":[]},{"id":"d62446a1.aefb78","type":"debug","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":2860,"wires":[]},{"id":"45b5cd2c.ecb3e4","type":"subflow:27c75ece.a3d882","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","env":[],"x":260,"y":2720,"wires":[["c66d497d.d703e8"]]},{"id":"727555c4.56b9cc","type":"link out","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","links":["ee359376.e7b86"],"x":695,"y":2820,"wires":[]},{"id":"23c88e28.ec51e2","type":"change","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"notification","rules":[{"t":"set","p":"topic","pt":"msg","to":"notification","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"Saved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2820,"wires":[["727555c4.56b9cc"]]},{"id":"c1e67720.f521b8","type":"link out","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","links":["1d6b4b38.ad4295","2c5276f0.bd06ba"],"x":935,"y":2720,"wires":[]},{"id":"e792840b.9085b8","type":"debug","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":2760,"wires":[]},{"id":"2edda358.fecbac","type":"subflow:27c75ece.a3d882","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","env":[],"x":260,"y":2400,"wires":[["8d57c38e.1a977","888346b1.e3f6b8"]]},{"id":"8d57c38e.1a977","type":"template","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"WITH temp_data_array (filename, subgroup, ext, language, data) AS (\n\tvalues (\n    \t'{{{postgress.filename}}}', \n    \tjsonb '{{{postgress.subgroup}}}',\n    \t'{{{postgress.ext}}}',\n        jsonb '{{{postgress.language}}}',\n    \tjsonb '{{{postgress.data}}}'\n\t)\n)\nselect \n\tfilename, \n\tsubgroup, \n\text,\n\tlanguage,\n\tjsonb_agg(data) as data\nfrom\n\t(\n\t\tselect distinct\n\t\t\tnd.filename filename, \n\t\t\tnd.subgroup subgroup, \n\t\t\tnd.ext ext,\n\t\t\tnd.language \"language\",\n\t\t\tjson_build_object(\n\t\t\t\t'idx', (nd.item_object->>'idx')::int,\n\t\t\t\t'group', (select json_agg(distinct b.a order by b.a) from (Select jsonb_array_elements(od.group) as a) as b),\n\t\t\t\t'colIdx', nd.item_object->'colIdx',\n\t\t\t\t'status', od.status,\n\t\t\t\t'fieldname', nd.item_object->'fieldname'\n\t\t\t)::jsonb as data,\n\t\t\t(nd.item_object->>'idx')::int\n\t\tfrom \n\t\t(\n\t\t\tselect\n\t\t\t\tfilename,\n\t\t\t\tsubgroup,\n\t\t\t\text,\n\t\t\t\tlanguage,\n\t\t\t\tarr.item_object \n\t\t\tfrom temp_data_array, jsonb_array_elements(data) \n\t\t\twith ordinality arr(item_object, position)\n\t\t) as nd left join\n\t\t(\n\t\t\tselect\n\t\t\t\ty.subgroup,\n\t\t\t\ty.language,\n\t\t\t\tjsonb_agg(distinct y.group order by y.group) as group,\n\t\t\t\ty.fieldname,\n\t\t\t\ty.status\n\t\t\tfrom (\n\t\t\t\tselect\n\t\t\t\t\td.subgroup,\n\t\t\t\t\td.language,\n\t\t\t\t\t--jsonb_concat_agg(distinct x.group order by x.group) as group,\n\t\t\t\t\tjsonb_array_elements(x.group)#>>'{}' as group,\n\t\t\t\t\tx.fieldname as fieldname,\n\t\t\t\t\tx.status as status\n\t\t\t\tfrom tokenize.doc_json d, jsonb_to_recordset(d.data) as x(idx int, \"group\" jsonb, colIdx int, status boolean, fieldname text)\n\t\t\t\twhere\n\t\t\t\t\tx.status = 'true'\n\t\t\t\torder by\n\t\t\t\t\td.subgroup,\n\t\t\t\t\td.language,\n\t\t\t\t\tx.fieldname\n\t\t\t) as y\n\t\t\twhere\n\t\t\t\ty.group != ''\n\t\t\tgroup by\n\t\t\t\ty.subgroup,\n\t\t\t\ty.language,\n\t\t\t\ty.fieldname,\n\t\t\t\ty.status\n\t\t) as od on  \n\t\t\t(nd.subgroup = od.subgroup or json_build_array(od.subgroup)::jsonb <@ ('{{{postgress.optional}}}')::jsonb)\n\t\t\tand nd.language = od.language\n\t\t\tand nd.item_object->>'fieldname' = od.fieldname\n\t\torder by\n\t\t\tnd.filename,\n\t\t\tnd.subgroup,\n\t\t\tnd.ext,\n\t\t\tnd.language,\n\t\t\t(nd.item_object->>'idx')::int\n\t) as merged\ngroup by\n\tfilename, \n\tsubgroup, \n\text,\n\tlanguage\n;","output":"str","x":470,"y":2400,"wires":[["72d51238.c3abbc","5fbb99e.722b368","9c6183ce.87e72"]]},{"id":"e399a680.4395b8","type":"digitaloak-postgresql-query","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":490,"y":2480,"wires":[["433092b.fbb746c"]]},{"id":"72d51238.c3abbc","type":"debug","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":2400,"wires":[]},{"id":"433092b.fbb746c","type":"change","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","rules":[{"t":"set","p":"postgress.data","pt":"msg","to":"payload.rows[0].data","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"postgress","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"docTable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":2580,"wires":[["d2111d73.660a4","6fbe2c33.405a74"]]},{"id":"6fbe2c33.405a74","type":"link out","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","links":["ee359376.e7b86"],"x":935,"y":2580,"wires":[]},{"id":"d2111d73.660a4","type":"debug","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2560,"wires":[]},{"id":"1e896547.2d8c5b","type":"link in","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","links":["aa1e938f.4595c"],"x":75,"y":2420,"wires":[["2edda358.fecbac"]]},{"id":"d5ceaa32.d799e8","type":"link in","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","links":["668fa110.a42b4"],"x":75,"y":2380,"wires":[["2edda358.fecbac"]]},{"id":"5fbb99e.722b368","type":"link out","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","links":["1d6b4b38.ad4295","2c5276f0.bd06ba"],"x":745,"y":2440,"wires":[]},{"id":"888346b1.e3f6b8","type":"debug","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2360,"wires":[]},{"id":"cef41412.3b5178","type":"file in","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"read a spreadsheet file as binary buffer","filename":"","format":"","chunk":false,"sendError":false,"x":590,"y":1300,"wires":[["babc3a9b.aaf958"]]},{"id":"def614bf.01b198","type":"change","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1300,"wires":[["d68a1d8d.39a","cef41412.3b5178"]]},{"id":"d68a1d8d.39a","type":"debug","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"xlsx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1260,"wires":[]},{"id":"21848654.cf924a","type":"link in","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"in: read file","links":["623f5f0d.13adf","8497deb5.24f21","48ecabf5.133e64"],"x":75,"y":1300,"wires":[["def614bf.01b198"]]},{"id":"babc3a9b.aaf958","type":"book","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"","raw":false,"x":230,"y":1380,"wires":[["8938fc4a.1a197","6a88a5ea.5fd6ac"]]},{"id":"17553919.c43b87","type":"debug","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1420,"wires":[]},{"id":"8938fc4a.1a197","type":"change","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.SheetNames","pt":"msg","to":"temp.SheetNames","tot":"msg"},{"t":"delete","p":"temp","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"readFile","tot":"str"},{"t":"set","p":"payload.filename","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1380,"wires":[["17553919.c43b87","9c0c22ff.dc091"]]},{"id":"6a88a5ea.5fd6ac","type":"debug","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1420,"wires":[]},{"id":"9c0c22ff.dc091","type":"link out","z":"b097b4d6.d4cfe8","g":"4f721384.c5e24c","name":"","links":["ee359376.e7b86"],"x":815,"y":1380,"wires":[]},{"id":"41bc71b8.c7fc7","type":"file","z":"b097b4d6.d4cfe8","g":"1b4c1ef.5ec66e1","name":"","filename":"/home/pi/JIM/node-red-static/temporary.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":600,"y":4640,"wires":[[]]},{"id":"c7322f0e.ae4c6","type":"change","z":"b097b4d6.d4cfe8","g":"1b4c1ef.5ec66e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":4640,"wires":[["41bc71b8.c7fc7"]]},{"id":"1d6b4b38.ad4295","type":"link in","z":"b097b4d6.d4cfe8","g":"1b4c1ef.5ec66e1","name":"","links":["5fbb99e.722b368","c1e67720.f521b8","be6b8940.907688"],"x":75,"y":4640,"wires":[["c7322f0e.ae4c6"]]},{"id":"e8181109.f9a9f","type":"link in","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","links":["c1dd6751.392348","1fc2669.1360b99","60a95338.06384c"],"x":75,"y":1980,"wires":[["93639268.1eb97","24b18580.89608a"]]},{"id":"48a2dda3.297734","type":"file in","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"read a spreadsheet file as binary buffer","filename":"","format":"","chunk":false,"sendError":false,"x":590,"y":1980,"wires":[["80553a8.80ddec8"]]},{"id":"93639268.1eb97","type":"change","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"language","pt":"msg","to":"payload.language","tot":"msg"},{"t":"set","p":"selectSheetName","pt":"msg","to":"payload.sheet","tot":"msg"},{"t":"set","p":"column","pt":"msg","to":"payload.column","tot":"msg"},{"t":"set","p":"optional","pt":"msg","to":"payload.optional","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1980,"wires":[["48a2dda3.297734"]]},{"id":"80553a8.80ddec8","type":"book","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","raw":false,"x":990,"y":1980,"wires":[["7c8aa57.f10d05c"]]},{"id":"24b18580.89608a","type":"debug","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1940,"wires":[]},{"id":"7c8aa57.f10d05c","type":"sheet","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","sheetName":"","x":230,"y":2060,"wires":[["a2df6d03.a9c7b"]]},{"id":"a2df6d03.a9c7b","type":"change","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","rules":[{"t":"set","p":"selectRange","pt":"msg","to":"payload['!ref']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2060,"wires":[["f21f3cae.1f337"]]},{"id":"f21f3cae.1f337","type":"sheet-to-json","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","raw":"false","range":"","header":"1","blankrows":false,"x":250,"y":2180,"wires":[["39ddd8d3.016468","bd4c32ab.d5444"]]},{"id":"39ddd8d3.016468","type":"function","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","func":"var ext = msg.filename.split(\".\");\nvar max = ext.length;\nvar language = msg.language;\nvar optional = msg.optional;\n\n\nvar header = msg.payload[0];\nvar data = [];\nvar colIdx = msg.column;\n\nfor (var rowIdx in msg.payload) {\n    var fld = msg.payload[rowIdx][colIdx];\n    data.push({\n        'idx': rowIdx,\n        'fieldname': fld,\n        'status': false,\n        'group': null,\n        'colIdx':colIdx\n    });\n}\n\n//node.warn(data);\n\nmsg.payload = {};\nmsg.payload.data = data;\n\nmsg.payload.config = {\n    'col': [\n        {\n            'title':'No.',\n            'field':'idx',\n            'width': 60,\n            'align': 'right'\n        },\n        {\n            'title':'Field Name',\n            'field':'fieldname',\n            'editor': true\n        },\n        {\n            'title':'Status',\n            'field':'status',\n            'width': 90,\n            'align': 'center',\n            'formatter': 'tickCross',\n            'sorter': 'boolean',\n            'editor': true\n        },\n        {\n            'title':'Group',\n            'field':'group',\n            'editor': true\n        }\n    ]\n};\n\nmsg.topic = \"docTable\";\nmsg.payload.ext = ext[max-1];\nmsg.payload.filename = msg.filename;\nmsg.payload.column = msg.column;\nmsg.payload.sheet = msg.selectedSheetName;\nmsg.payload.language = language;\nmsg.payload.optional = optional;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2180,"wires":[["d158d635.635668","aa1e938f.4595c"]]},{"id":"d158d635.635668","type":"debug","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":2220,"wires":[]},{"id":"bd4c32ab.d5444","type":"debug","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":2140,"wires":[]},{"id":"aa1e938f.4595c","type":"link out","z":"b097b4d6.d4cfe8","g":"71838d58.4384f4","name":"","links":["1e896547.2d8c5b"],"x":955,"y":2180,"wires":[]},{"id":"e2516822.7b62f8","type":"subflow:4f6b87ae.7d3bb","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","env":[{"name":"DIRECTORY","value":"/home/pi/JIM/input","type":"str"},{"name":"EXTENSIONS","value":"[\"docx\",\"xlsx\"]","type":"json"}],"x":280,"y":880,"wires":[["e6d81063.71ec7","d58d11db.f1411"]]},{"id":"1f15531c.9a5c3d","type":"inject","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","x":130,"y":920,"wires":[["e2516822.7b62f8"]]},{"id":"ffd1ea05.2b8d48","type":"rbe","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":880,"wires":[["28a5f391.99cfac","9a166025.ace1f"]]},{"id":"28a5f391.99cfac","type":"debug","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":920,"wires":[]},{"id":"e6d81063.71ec7","type":"debug","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":920,"wires":[]},{"id":"65562356.f1f91c","type":"function","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","func":"var docList = [];\n\nfor (var idx in msg.payload) {\n    docList.push({\n        'filename':msg.payload[idx],\n        'path':msg.path\n    });\n}\n\nmsg.payload = {\n    '_socketId':msg._socketId,\n    'docList':docList\n}\nmsg.topic = \"listFiles\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":880,"wires":[["ffd1ea05.2b8d48"]]},{"id":"5d3849be.0f3e58","type":"link in","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"Trigger List Files","links":["8ed8efa0.1abdf","4f2b8035.ff827","a09ba52e.cd5008"],"x":95,"y":880,"wires":[["e2516822.7b62f8"]]},{"id":"d58d11db.f1411","type":"change","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","rules":[{"t":"delete","p":"uibuilderCtrl","pt":"msg"},{"t":"delete","p":"cacheControl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":880,"wires":[["65562356.f1f91c"]]},{"id":"9a166025.ace1f","type":"link out","z":"b097b4d6.d4cfe8","g":"7098cab0.055e84","name":"","links":["ee359376.e7b86"],"x":1035,"y":880,"wires":[]},{"id":"4f2b8035.ff827","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["5d3849be.0f3e58"],"x":575,"y":300,"wires":[]},{"id":"361a6756.f23f38","type":"debug","z":"b097b4d6.d4cfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":360,"wires":[]},{"id":"72f2b96d.08ab48","type":"template","z":"b097b4d6.d4cfe8","g":"964eeb34.e25bb8","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select \n    ROW_NUMBER() OVER () as rnum,\n\tfilename,\n\tsubgroup,\n\text,\n\tlanguage,\n\t\"group\",\n\tcase\n\t\twhen r.group = '' or r.group is null then 'null'\n\t\telse replace(translate(r.group, '–-&()/,+?.“”', ' '), ' ', '_') \n\tend groupnm,\n\tjson_agg(data) as data\nfrom (\n\tselect \n\t\taa.filename,\n\t\taa.subgroup,\n\t\taa.ext,\n\t\taa.language,\n\t\taa.group,\n\t\tjson_build_object(\n\t\t\t'fieldname', aa.fieldname,\n\t\t\t'und_fieldname', aa.und_fieldname,\n\t\t\t'status', status\n\t\t) as data\n\tfrom\n\t(\n\t\tselect\n\t\t\tdistinct\n\t\t\td.filename,\n\t\t\td.subgroup,\n\t\t\td.ext,\n\t\t\td.language,\n\t\t\t--jsonb_concat_agg(distinct x.group order by x.group) as group,\n\t\t\tjsonb_array_elements(x.group)#>>'{}' as group,\n\t\t\tx.fieldname,\n\t\t\t(translate(replace((x.fieldname)::text, ' ', '_'), '–-&()/,+?.“”', '')) as und_fieldname,\n\t\t\tx.status as status\n\t\tfrom tokenize.doc_json d, jsonb_to_recordset(d.data) as x(idx int, \"group\" jsonb, colIdx int, status boolean, fieldname text)\n\t\twhere\n            d.filename = '{{{postgress.filename}}}'\n            and d.subgroup = '{{{postgress.subgroup}}}'\n            and d.ext = '{{{postgress.ext}}}'\n            and d.language = '{{{postgress.language}}}'\n\t\t\tand x.status = 'true'\n\t) as aa\n\torder by\n\t\taa.filename,\n\t\taa.subgroup,\n\t\taa.ext,\n\t\taa.language,\n\t\taa.group,\n\t\taa.fieldname\n) as r\ngroup by\n\tfilename,\n\tsubgroup,\n\text,\n\tlanguage,\n\t\"group\"\n;","output":"str","x":480,"y":3000,"wires":[["be6b8940.907688","d128e0da.d26c7","7dcd064f.28c668"]]},{"id":"fdd44903.e06e68","type":"link out","z":"51d0fdc5.dd1f84","name":"module-out: Rules","links":["3115a7d3.a43458","513bab38.ff9744"],"x":635,"y":800,"wires":[]},{"id":"3115a7d3.a43458","type":"link in","z":"cd458421.39db78","name":"rules-in","links":["fdd44903.e06e68"],"x":195,"y":180,"wires":[["143d7fc2.e8479"]]},{"id":"143d7fc2.e8479","type":"switch","z":"cd458421.39db78","name":"instruction","property":"payload.instruction","propertyType":"msg","rules":[{"t":"eq","v":"getCategories","vt":"str"},{"t":"eq","v":"getJsonLogic","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[["dd1daceb.48be5"],["ffec4dea.67e45"]]},{"id":"dd1daceb.48be5","type":"link out","z":"cd458421.39db78","name":"","links":["d9a6764b.e5e2c8","bd7964fe.e1f798","76e19f4d.486c8"],"x":555,"y":160,"wires":[]},{"id":"d9a6764b.e5e2c8","type":"link in","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"","links":["dd1daceb.48be5","ba9b05ed.c190c8"],"x":75,"y":420,"wires":[["3c0eff22.28b3f"]]},{"id":"3c0eff22.28b3f","type":"template","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM tokenize.rules_category\nORDER BY category ASC ","output":"str","x":230,"y":420,"wires":[["47bb6bca.78a3d4"]]},{"id":"47bb6bca.78a3d4","type":"digitaloak-postgresql-query","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":430,"y":420,"wires":[["35a321cb.b8322e","50be339e.8ee8fc"]]},{"id":"35a321cb.b8322e","type":"debug","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"50be339e.8ee8fc","type":"function","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"","func":"var catList = [];\n\nfor (var idx in msg.payload.rows) {\n    var rec = msg.payload.rows[idx];\n    catList.push({\n        'id': rec.id,\n        'category': rec.category\n    });\n}\n\nmsg.payload = {\n    '_socketId':msg._socketId,\n    'catList':catList\n}\nmsg.topic = \"listCat\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":500,"wires":[["7eac9bf4.c2b284","74cb5814.e02388"]]},{"id":"7eac9bf4.c2b284","type":"link out","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"rules-out: catList","links":["89ad99b8.d42ce8"],"x":595,"y":500,"wires":[]},{"id":"89ad99b8.d42ce8","type":"link in","z":"51d0fdc5.dd1f84","name":"uibuilder-in: Rules","links":["3df9baf5.a0a206","7eac9bf4.c2b284"],"x":175,"y":340,"wires":[["baf85b56.4235f8"]]},{"id":"74cb5814.e02388","type":"debug","z":"cd458421.39db78","g":"1ce1d98b.e4c6d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"9c0a8243.d7395","type":"link out","z":"51d0fdc5.dd1f84","name":"module-out: Discovery","links":["10bb3eae.3db441"],"x":635,"y":840,"wires":[]},{"id":"10bb3eae.3db441","type":"link in","z":"1bce6373.1f553d","name":"discovery-in","links":["9c0a8243.d7395"],"x":195,"y":180,"wires":[["58e87a88.085e24"]]},{"id":"58e87a88.085e24","type":"switch","z":"1bce6373.1f553d","name":"instruction","property":"payload.instruction","propertyType":"msg","rules":[{"t":"eq","v":"getDictionary","vt":"str"},{"t":"eq","v":"getJsonLogic","vt":"str"},{"t":"eq","v":"saveFlow","vt":"str"},{"t":"eq","v":"getFlowList","vt":"str"},{"t":"eq","v":"saveTask","vt":"str"},{"t":"eq","v":"getTaskList","vt":"str"},{"t":"eq","v":"applyTask","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":180,"wires":[["15f93ebc.3ec411"],["c03b8ae8.ccf2d8"],["4da72d55.153604"],["566568de.0fd688"],["ebeaeb65.906d58"],["4e612036.16eff"],["537b9967.fe0498"]]},{"id":"15f93ebc.3ec411","type":"link out","z":"1bce6373.1f553d","name":"","links":["3ef5d4e8.8a76cc","4d798ff8.666c4","ad1c68c4.110d48"],"x":555,"y":60,"wires":[]},{"id":"3ef5d4e8.8a76cc","type":"link in","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"","links":["15f93ebc.3ec411"],"x":75,"y":440,"wires":[["cd0a9f6f.c890c"]]},{"id":"585718e7.5f7748","type":"template","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select\n    ROW_NUMBER() OVER () as rnum,\n    a.*\nfrom\n(\n    SELECT\n    \tlanguage,\n    \td.ext,\n    \td.filename as abs_filename,\n    \td.subgroup->>'filename' as filename,\n    \td.subgroup->>'sheet' as sheet,\n    \td.subgroup->>'col' as col,\n    \td.subgroup as subgroup,\n    \tupdate_dt\n    FROM tokenize.doc_json d \n    where\n        d.language @> ('{{{payload.language}}}')::jsonb\n    ORDER BY \n    language,\n    ext,\n    d.subgroup->>'filename',\n    update_dt\n) as a","output":"str","x":410,"y":440,"wires":[["3bb69cba.ed1154"]]},{"id":"3bb69cba.ed1154","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":610,"y":440,"wires":[["4bf28a50.da8d54","e3c31527.2ab4d8"]]},{"id":"4bf28a50.da8d54","type":"debug","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"e3c31527.2ab4d8","type":"function","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"","func":"var dicList = [];\n/*\nfor (var idx in msg.payload.rows) {\n    var rec = msg.payload.rows[idx];\n    dicList.push({\n        'language': rec.language,\n        'ext': rec.ext,\n        'filename': rec.filename,\n        'update_dt': rec.update_dt\n    });\n}*/\n\nmsg.payload = {\n    '_socketId': msg._socketId,\n    'data': msg.payload.rows,\n    'config': {\n        'col' : [\n            {\n                'title':'No.',\n                'field':'rnum',\n                'width': 30,\n                'align': 'right'\n            },\n            {\n                'title':'File Name',\n                'field':'filename',\n            }, \n            {\n                'title':'Sheet',\n                'field':'sheet',\n                'width': 100\n            },\n            {\n                'title':'Column',\n                'field':'col',\n                'width': 60\n            },            \n            {\n                'title':'Updated At',\n                'field':'update_dt',\n                'formatter':'datetime',\n                'width': 80\n                \n            },\n             {\n                'title':'Select',\n                'field':'select',\n                'width': 75,\n                'align': 'center',\n                'formatter': 'tickCross',\n                'sorter': 'boolean',\n                'editor': true\n            },\n        ]\n    }\n}\nmsg.topic = \"dicList\";\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["b1c1f834.2ea4c8","bed7bdd9.ec1c"]]},{"id":"b1c1f834.2ea4c8","type":"link out","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"rules-out: catList","links":["b0e832e5.876aa"],"x":775,"y":520,"wires":[]},{"id":"bed7bdd9.ec1c","type":"debug","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":560,"wires":[]},{"id":"cd0a9f6f.c890c","type":"json","z":"1bce6373.1f553d","g":"c677afa4.eac9d","name":"","property":"payload.language","action":"str","pretty":false,"x":230,"y":440,"wires":[["585718e7.5f7748"]]},{"id":"4118abef.3a3c84","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["bd9258ee.125918"],"x":575,"y":340,"wires":[]},{"id":"bd9258ee.125918","type":"link in","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","links":["4118abef.3a3c84"],"x":75,"y":620,"wires":[["af8ba709.a68308"]]},{"id":"8ba76f99.8f42","type":"template","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n\tlanguage,\n\td.ext,\n\td.subgroup->>'filename' as filename,\n\td.subgroup as subgroup,\n\tupdate_dt\nFROM tokenize.doc_json d \nwhere\n    d.language @> ('{{{payload.language}}}')::jsonb\nORDER BY \nlanguage,\next,\nd.subgroup->>'filename',\nupdate_dt","output":"str","x":410,"y":620,"wires":[["ff6bd392.be93e","131709d4.8884b6"]]},{"id":"ff6bd392.be93e","type":"digitaloak-postgresql-query","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":610,"y":620,"wires":[["93a223cf.49a91","f20d9f3d.96a4a"]]},{"id":"93a223cf.49a91","type":"debug","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":620,"wires":[]},{"id":"f20d9f3d.96a4a","type":"function","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","func":"/*\nvar dicList = [];\n\nfor (var idx in msg.payload.rows) {\n    var rec = msg.payload.rows[idx];\n    dicList.push({\n        'language': rec.language,\n        'ext': rec.ext,\n        'filename': rec.filename,\n        'update_dt': rec.update_dt\n    });\n}*/\n\nmsg.payload = {\n    '_socketId': msg._socketId,\n    'data': msg.payload.rows,\n    'config': {\n        'col' : [\n            {\n                'title':'No.',\n                'field':'idx',\n                'width': 60,\n                'align': 'right'\n            },\n            {\n                'title':'language',\n                'field':'language',\n                'editor': true\n            },\n            {\n                'title':'ext',\n                'field':'ext',\n                'editor': true\n            }, \n            {\n                'title':'filename',\n                'field':'filename',\n                'editor': true\n            }, \n            {\n                'title':'update_dt',\n                'field':'update_dt',\n                'editor': true\n            }\n        ]    \n    }\n}\nmsg.topic = \"dicList\";\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":700,"wires":[["c2ed0546.c225a8","3837bc12.764494"]]},{"id":"c2ed0546.c225a8","type":"link out","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"rules-out: catList","links":["ee359376.e7b86"],"x":855,"y":700,"wires":[]},{"id":"3837bc12.764494","type":"debug","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":740,"wires":[]},{"id":"131709d4.8884b6","type":"debug","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":560,"wires":[]},{"id":"af8ba709.a68308","type":"json","z":"b097b4d6.d4cfe8","g":"dd788697.1fe958","name":"","property":"payload.language","action":"str","pretty":false,"x":230,"y":620,"wires":[["8ba76f99.8f42"]]},{"id":"cf0c9874.4d0c18","type":"switch","z":"27c75ece.a3d882","name":"optional","property":"postgress","propertyType":"msg","rules":[{"t":"hask","v":"optional","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":460,"y":380,"wires":[["3c21a29e.942aee"],["c7429c2a.5f4dd"]]},{"id":"3c21a29e.942aee","type":"json","z":"27c75ece.a3d882","name":"postgress.optional","property":"postgress.optional","action":"str","pretty":false,"x":710,"y":380,"wires":[["c7429c2a.5f4dd"]]},{"id":"9c6183ce.87e72","type":"change","z":"b097b4d6.d4cfe8","g":"6559b286.f54b9c","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2480,"wires":[["e399a680.4395b8"]]},{"id":"c7429c2a.5f4dd","type":"change","z":"27c75ece.a3d882","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[[]]},{"id":"c66d497d.d703e8","type":"change","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","rules":[{"t":"set","p":"query.values","pt":"msg","to":"[[postgress.filename,postgress.subgroup,postgress.ext,postgress.language,postgress.data]]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2720,"wires":[["da0977ed.77ee98"]]},{"id":"da0977ed.77ee98","type":"template","z":"b097b4d6.d4cfe8","g":"12e37e35.9b9622","name":"","field":"query.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"begin;\n\ninsert into tokenize.doc_json\n(id, update_dt, filename, subgroup, ext, language, data)\nvalues\n(\n    nextval('tokenize.doc_json_id_seq'),\n    current_timestamp, \n    $1,\n    $2,\n    $3,\n    $4,\n    $5\n)\non conflict (filename, subgroup, ext, language)\ndo\n    update set \n        data=$5,\n        update_dt=current_timestamp\n;\n    \n\ncommit;","output":"str","x":740,"y":2720,"wires":[["c1e67720.f521b8","df6aeba2.84b2c8","588d6b4.1316894"]]},{"id":"9cb6e46.0726218","type":"link out","z":"b097b4d6.d4cfe8","g":"3bb4fe14.70a9c2","name":"","links":["8d3653ec.75466","8c9ad56e.84b598","73b31c58.320404"],"x":935,"y":3260,"wires":[]},{"id":"72fc3e72.21df3","type":"link out","z":"b097b4d6.d4cfe8","g":"c6f20105.6ac4b","name":"","links":["65079d36.361734","6070dcce.dfe134","e7b4b974.5a0098"],"x":935,"y":3400,"wires":[]},{"id":"8d3653ec.75466","type":"link in","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","links":["9cb6e46.0726218"],"x":75,"y":3540,"wires":[["50c84438.bdccfc"]]},{"id":"65079d36.361734","type":"link in","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","links":["72fc3e72.21df3"],"x":75,"y":3580,"wires":[["50c84438.bdccfc"]]},{"id":"8dbfa665.97e138","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["9c87140f.dc5358","a470d80f.6cf6b8"],"x":575,"y":380,"wires":[]},{"id":"9c87140f.dc5358","type":"link in","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","links":["8dbfa665.97e138"],"x":75,"y":3860,"wires":[["b116c45a.c24d98","e35b237d.be7d7"]]},{"id":"dcfb0464.d546b8","type":"template","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select\n\ta.group,\n\tjson_agg(json_build_object('No', rnum, 'fieldname',a.fieldname)) as items\nfrom\n(\n\tselect\n\t\tROW_NUMBER() OVER (PARTITION by b.group order by fieldname) as rnum,\n\t\tfilename,\n\t\tsubgroup,\n\t\text,\n\t\tlanguage,\n\t\tb.group,\n\t\tfieldname,\n\t\tund_fieldname,\n\t\tstatus\n\tfrom\n\t(\n\t\tselect\n\t\t\t\tdistinct\n\t\t\t\td.filename,\n\t\t\t\td.subgroup,\n\t\t\t\td.ext,\n\t\t\t\td.language,\n\t\t\t\t--jsonb_concat_agg(distinct x.group order by x.group) as group,\n\t\t\t\tjsonb_array_elements(x.group)#>>'{}' as group,\n\t\t\t\tx.fieldname,\n\t\t\t\t(translate(replace((x.fieldname)::text, ' ', '_'), '–-&()/,+?.“”', '')) as und_fieldname,\n\t\t\t\tx.status as status\n\t\t\tfrom tokenize.doc_json d, jsonb_to_recordset(d.data) as x(idx int, \"group\" jsonb, colIdx int, status boolean, fieldname text)\n\t\t\twhere\n\t\t\t\td.filename = '{{{postgress.filename}}}'\n\t\t\t\tand d.subgroup = '{{{postgress.subgroup}}}'\n\t\t\t\tand d.ext = '{{{postgress.ext}}}'\n\t\t\t\tand d.language = '{{{postgress.language}}}'\n\t\t\t\tand x.status = 'true'\n\t\torder by\n\t\t\tjsonb_array_elements(x.group)#>>'{}',\n\t\t\tx.fieldname\n\t) as b\n) as a\nwhere\n\ta.group is not null or length(a.group) > 0\ngroup by\na.group\n;","output":"str","x":480,"y":3860,"wires":[["2df5f2b6.8bd27e"]]},{"id":"b116c45a.c24d98","type":"subflow:27c75ece.a3d882","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","env":[],"x":260,"y":3860,"wires":[["dcfb0464.d546b8"]]},{"id":"2df5f2b6.8bd27e","type":"digitaloak-postgresql-query","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":750,"y":3860,"wires":[["7505b8a2.3b4ee8"]]},{"id":"e35b237d.be7d7","type":"debug","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":3900,"wires":[]},{"id":"e2c6f81b.05da78","type":"link out","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"Diagram","links":["ee359376.e7b86"],"x":935,"y":3960,"wires":[]},{"id":"689e4d1d.7cd9d4","type":"debug","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":4000,"wires":[]},{"id":"52875c48.e40184","type":"function","z":"74afde7d.c4af","name":"example data","func":"msg.payload = [{\n        header: {\n            'author': 'authorName',\n            'title': 'title'\n        },\n        items: [\n         {\n            author:'john',\n            title:'how to use this'\n         },\n         {\n            author:'Bob',\n            title:'so Easy'\n         }\n        ],\n        sheetName: 'sheet1',\n    },\n    {\n        header: {\n            'a': 'AAAAA',\n            'b': 'BBBBB'\n        },\n        items: [\n         {\n            a:'a',\n            b:'b'\n         },\n         {\n            a:'aa',\n            b:'bb'\n         }\n        ],\n        sheetName: 'sheet2',\n    }];\nmsg.filepath = msg.home + '/output.xlsx';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[[]]},{"id":"b5991ac3.af95e8","type":"inject","z":"74afde7d.c4af","name":"","props":[{"p":"home","v":"HOME","vt":"env"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":140,"y":80,"wires":[["52875c48.e40184"]]},{"id":"7505b8a2.3b4ee8","type":"python-function","z":"b097b4d6.d4cfe8","g":"efc52183.fc57f","name":"","func":"from openpyxl import Workbook\nimport json\n\n\noutputDir = '/home/pi/JIM/node-red-static/output'\nfilename = \"{}{}\".format(msg['_socketId'].replace('tokenize#', ''), '.xlsx')\nabs_filename = \"{}{}\".format(outputDir, filename)\n\n\nwb = Workbook()\nfor rec in msg['payload']['rows']:\n    ws = wb.create_sheet(title=rec['group'].replace('/',''))\n    length = len(rec['items'])\n    for row_idx in range(length):\n        field = rec['items'][row_idx]\n        for field_idx, key in enumerate(field):\n            if row_idx==0:\n                ws.cell(column=field_idx+1, row=row_idx+1, value=key)\n            node.warn(\"sheet[{}]row[{}]col[{}]\".format(rec['group'],row_idx, field_idx))\n            ws.cell(column=field_idx+1, row=row_idx+2, value=field[key])\n\nstd=wb['Sheet']\nwb.remove(std)\n\nwb.save(abs_filename)\n\nmsg['topic'] = 'spreadsheet'\nmsg['filename'] = abs_filename\nmsg['payload'] = {}\nmsg['payload']['url'] = '/files{}'.format(filename)\n\nreturn msg","outputs":1,"x":260,"y":3960,"wires":[["689e4d1d.7cd9d4","e2c6f81b.05da78"]]},{"id":"7913ad13.7b8594","type":"function","z":"c0bfac1e.651dc","name":"Set base path","func":"//var basePath = msg.home + \"\";\nvar basePath = '/home/pi/JIM/node-red-static/output/'\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["d516b222.20c44"],["1a0712aa.3d8d7d"]]},{"id":"d516b222.20c44","type":"file in","z":"c0bfac1e.651dc","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":530,"y":120,"wires":[["1a0712aa.3d8d7d","cd70d450.ad95a8"]]},{"id":"1a0712aa.3d8d7d","type":"http response","z":"c0bfac1e.651dc","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"ff4a3720.4ecda8","type":"http in","z":"c0bfac1e.651dc","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["56b4d776.616df8"]]},{"id":"cd70d450.ad95a8","type":"debug","z":"c0bfac1e.651dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"c2ca7fe2.1e40f","type":"function","z":"c0bfac1e.651dc","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["1a0712aa.3d8d7d"]]},{"id":"2fbb3240.d380fe","type":"catch","z":"c0bfac1e.651dc","name":"","scope":["ff4a3720.4ecda8","7913ad13.7b8594","d516b222.20c44"],"uncaught":false,"x":150,"y":180,"wires":[["c2ca7fe2.1e40f","c3d3825d.819f1"]]},{"id":"c3d3825d.819f1","type":"debug","z":"c0bfac1e.651dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":200,"wires":[]},{"id":"56b4d776.616df8","type":"change","z":"c0bfac1e.651dc","name":"read: env HOME","rules":[{"t":"set","p":"home","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["7913ad13.7b8594"]]},{"id":"bd7964fe.e1f798","type":"link in","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"","links":["dd1daceb.48be5","ffec4dea.67e45","ba9b05ed.c190c8","94fcda67.5d25b8"],"x":75,"y":680,"wires":[["17857c21.075414"]]},{"id":"17857c21.075414","type":"template","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM tokenize.rules_jsonlogic\nwhere category = '{{{msg.payload.category}}}'\nORDER BY id ASC","output":"str","x":230,"y":680,"wires":[["372f1f3c.6f761","ac1a40dd.51a6c"]]},{"id":"372f1f3c.6f761","type":"digitaloak-postgresql-query","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":430,"y":680,"wires":[["3100be24.249a02"]]},{"id":"3100be24.249a02","type":"debug","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":680,"wires":[]},{"id":"76966ae1.fcfb54","type":"function","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"","func":"var catList = [];\n\nfor (var idx in msg.payload.rows) {\n    var rec = msg.payload.rows[idx];\n    catList.push({\n        'id': rec.id,\n        'category': rec.category\n    });\n}\n\nmsg.payload = {\n    '_socketId':msg._socketId,\n    'catList':catList\n}\nmsg.topic = \"listCat\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":760,"wires":[["3df9baf5.a0a206","169b2cbc.d316f3"]]},{"id":"3df9baf5.a0a206","type":"link out","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"rules-out: jsonlogicList","links":["89ad99b8.d42ce8"],"x":595,"y":760,"wires":[]},{"id":"169b2cbc.d316f3","type":"debug","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"ffec4dea.67e45","type":"link out","z":"cd458421.39db78","name":"","links":["bd7964fe.e1f798"],"x":555,"y":200,"wires":[]},{"id":"ac1a40dd.51a6c","type":"debug","z":"cd458421.39db78","g":"e3b3334a.1a633","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":820,"wires":[]},{"id":"3f9b7024.b9d6","type":"link in","z":"e9c58b9d.ffde88","name":"jsonlogic-in","links":["3c1ce6d.f6eda1a"],"x":195,"y":180,"wires":[["8c73464e.9d0018"]]},{"id":"8c73464e.9d0018","type":"switch","z":"e9c58b9d.ffde88","name":"instruction","property":"payload.instruction","propertyType":"msg","rules":[{"t":"eq","v":"getCategories","vt":"str"},{"t":"eq","v":"getJsonLogic","vt":"str"},{"t":"eq","v":"saveJsonLogic","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":180,"wires":[["d1dd28c4.98b1c8"],["a32781fd.705ba"],["6dbd0901.765708"]]},{"id":"d1dd28c4.98b1c8","type":"link out","z":"e9c58b9d.ffde88","name":"","links":["76e19f4d.486c8"],"x":555,"y":140,"wires":[]},{"id":"a32781fd.705ba","type":"link out","z":"e9c58b9d.ffde88","name":"","links":["8c343aa1.13cff8"],"x":555,"y":180,"wires":[]},{"id":"3c1ce6d.f6eda1a","type":"link out","z":"51d0fdc5.dd1f84","name":"module-out: JSONLogic","links":["3f9b7024.b9d6"],"x":635,"y":880,"wires":[]},{"id":"76e19f4d.486c8","type":"link in","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"","links":["dd1daceb.48be5","ba9b05ed.c190c8","d1dd28c4.98b1c8"],"x":75,"y":420,"wires":[["6d3d7ab2.8c9234"]]},{"id":"6d3d7ab2.8c9234","type":"template","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM tokenize.rules_category\nORDER BY category ASC ","output":"str","x":230,"y":420,"wires":[["dfd64588.3584b8"]]},{"id":"dfd64588.3584b8","type":"digitaloak-postgresql-query","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":430,"y":420,"wires":[["8c72ba7d.a74548","bf0e31d9.96c18"]]},{"id":"8c72ba7d.a74548","type":"debug","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"bf0e31d9.96c18","type":"function","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"","func":"var catList = [];\n\nfor (var idx in msg.payload.rows) {\n    var rec = msg.payload.rows[idx];\n    catList.push({\n        'id': rec.id,\n        'category': rec.category\n    });\n}\n\nmsg.payload = {\n    '_socketId':msg._socketId,\n    'catList':catList\n}\nmsg.topic = \"listCat\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":500,"wires":[["644d22ae.ff140c","c67dbe3a.b7042"]]},{"id":"644d22ae.ff140c","type":"link out","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"rules-out: catList","links":["39882817.cdd4f8"],"x":595,"y":500,"wires":[]},{"id":"c67dbe3a.b7042","type":"debug","z":"e9c58b9d.ffde88","g":"bb25f8dd.197cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"8c343aa1.13cff8","type":"link in","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","links":["a32781fd.705ba","f9d772c7.9b0cb"],"x":75,"y":680,"wires":[["9ec20b41.69a888"]]},{"id":"9ec20b41.69a888","type":"template","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"sql","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT ROW_NUMBER() OVER () as rnum, * FROM tokenize.rules_jsonlogic\nwhere category = '{{{payload.category}}}'\nORDER BY id ASC","output":"str","x":230,"y":680,"wires":[["f39061c2.d9229","b1226f86.8fb0f"]]},{"id":"f39061c2.d9229","type":"digitaloak-postgresql-query","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":430,"y":680,"wires":[["a1f77999.a85398","2cf157fc.d58db8"]]},{"id":"a1f77999.a85398","type":"debug","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":680,"wires":[]},{"id":"1ff4f29c.0792bd","type":"function","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","func":"var catList = [];\n\nfor (var idx in msg.payload.rows) {\n    var rec = msg.payload.rows[idx];\n    catList.push({\n        'id': rec.id,\n        'category': rec.category\n    });\n}\n\nmsg.payload = {\n    '_socketId':msg._socketId,\n    'catList':catList\n}\nmsg.topic = \"listCat\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":820,"wires":[[]]},{"id":"30d2ed1e.719f42","type":"link out","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"rules-out: jsonlogicList","links":["39882817.cdd4f8"],"x":595,"y":780,"wires":[]},{"id":"de4868eb.e5c968","type":"debug","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":820,"wires":[]},{"id":"b1226f86.8fb0f","type":"debug","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":740,"wires":[]},{"id":"b0e832e5.876aa","type":"link in","z":"51d0fdc5.dd1f84","name":"uibuilder-in: Discovery","links":["13386b9e.bd93a4","2b2e71a8.b9bb6e","48455e6b.03334","551af372.f7cbac","b1c1f834.2ea4c8","ccc11275.a7d09","ec0136ef.ae2818"],"x":175,"y":400,"wires":[["baf85b56.4235f8"]]},{"id":"39882817.cdd4f8","type":"link in","z":"51d0fdc5.dd1f84","name":"uibuilder-in: JSONLogic","links":["30d2ed1e.719f42","644d22ae.ff140c","379e8911.dc51b6"],"x":175,"y":460,"wires":[["baf85b56.4235f8"]]},{"id":"2cf157fc.d58db8","type":"change","z":"e9c58b9d.ffde88","g":"b2721bab.2b7318","name":"","rules":[{"t":"set","p":"postgress","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"postgress.rows","tot":"msg"},{"t":"set","p":"payload.columns","pt":"msg","to":"[{\"title\":\"No.\",\"field\":\"rnum\",\"width\":60,\"align\":\"right\"},{\"title\":\"Description\",\"field\":\"description\"},{\"title\":\"name\",\"field\":\"name\"}]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"jsonlogicList","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":780,"wires":[["30d2ed1e.719f42","de4868eb.e5c968"]]},{"id":"6dbd0901.765708","type":"link out","z":"e9c58b9d.ffde88","name":"","links":["9adb24cd.b756a8"],"x":555,"y":220,"wires":[]},{"id":"9adb24cd.b756a8","type":"link in","z":"e9c58b9d.ffde88","name":"","links":["6dbd0901.765708"],"x":65,"y":940,"wires":[["91d4b39b.f99b1"]]},{"id":"f2fae71f.a44d68","type":"template","z":"e9c58b9d.ffde88","name":"query.text","field":"query.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO tokenize.rules_jsonlogic(\n\tcategory, name, description, jsonlogic, update_dt)\n\tVALUES ($1, $2, $3, $4, current_timestamp)\non conflict (category, name)\ndo\n    update set \n        description=$3,\n        jsonlogic=$4,\n        update_dt=current_timestamp\n;","output":"str","x":520,"y":940,"wires":[["fcd934d7.abe398"]]},{"id":"91d4b39b.f99b1","type":"change","z":"e9c58b9d.ffde88","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"query.values","pt":"msg","to":"[\t   payload.record.cat,\t   payload.record.name,\t   payload.record.desc,\t   payload.record.jsonlogic\t]","tot":"jsonata"},{"t":"set","p":"category","pt":"msg","to":"payload.category","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":940,"wires":[["f2fae71f.a44d68"]]},{"id":"fcd934d7.abe398","type":"digitaloak-postgresql-query","z":"e9c58b9d.ffde88","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":250,"y":1020,"wires":[["3f82acad.2cfd34"]]},{"id":"379e8911.dc51b6","type":"link out","z":"e9c58b9d.ffde88","name":"rules-out: jsonlogicList","links":["39882817.cdd4f8"],"x":715,"y":1020,"wires":[]},{"id":"3f82acad.2cfd34","type":"change","z":"e9c58b9d.ffde88","name":"notification","rules":[{"t":"set","p":"topic","pt":"msg","to":"notification","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"Saved","tot":"str"},{"t":"set","p":"payload.category","pt":"msg","to":"category","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1020,"wires":[["379e8911.dc51b6","f9d772c7.9b0cb"]]},{"id":"f9d772c7.9b0cb","type":"link out","z":"e9c58b9d.ffde88","name":"","links":["8c343aa1.13cff8"],"x":715,"y":1060,"wires":[]},{"id":"23583d.86c2f7c4","type":"python-function","z":"ca549a8e.dbb4c8","name":"","func":"import docx\n\nparas = []\n\ndoc = docx.Document(msg['payload'])\n\nfor p in doc.paragraphs:\n    record = {}\n    if p.text:\n        record['text']=p.text\n        if p.style:\n            record['style']=p.style.name\n            record['style_type']=p.style.type\n            record['style_font']=p.style.font\n            record['style_fontname']=p.style.font.name\n    paras.append(record)\n\nmsg['payload'] = paras\nreturn msg","outputs":1,"x":390,"y":180,"wires":[["2d098c92.e5dae4"]]},{"id":"51d9eab1.f6ebd4","type":"inject","z":"ca549a8e.dbb4c8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/pi/JIM/input/Profile & Scenario Writeup V2.docx","payloadType":"str","x":120,"y":180,"wires":[["23583d.86c2f7c4"]]},{"id":"2d098c92.e5dae4","type":"debug","z":"ca549a8e.dbb4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"c03b8ae8.ccf2d8","type":"link out","z":"1bce6373.1f553d","name":"","links":["7694430c.29513c"],"x":555,"y":100,"wires":[]},{"id":"7694430c.29513c","type":"link in","z":"1bce6373.1f553d","g":"a8e38b0a.76ea58","name":"","links":["c03b8ae8.ccf2d8"],"x":75,"y":700,"wires":[["4df1f46b.baccbc"]]},{"id":"4df1f46b.baccbc","type":"template","z":"1bce6373.1f553d","g":"a8e38b0a.76ea58","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from tokenize.rules_jsonlogic j \nwhere category = 'Tokenization'\norder by j.name","output":"str","x":240,"y":700,"wires":[["24b7f7fe.5c9ab8"]]},{"id":"24b7f7fe.5c9ab8","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","g":"a8e38b0a.76ea58","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":610,"y":700,"wires":[["11d6c7ba.0021d8"]]},{"id":"11d6c7ba.0021d8","type":"change","z":"1bce6373.1f553d","g":"a8e38b0a.76ea58","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"jsonLogicList","tot":"str"},{"t":"set","p":"postgress","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"postgress.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":780,"wires":[["48455e6b.03334"]]},{"id":"48455e6b.03334","type":"link out","z":"1bce6373.1f553d","g":"a8e38b0a.76ea58","name":"rules-out: catList","links":["b0e832e5.876aa"],"x":775,"y":780,"wires":[]},{"id":"74d68189.29aa3","type":"link in","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","links":["38e9d4d4.5cc62c","f224d63d.ab2f08","d96afd1b.83ccc","2c243f71.1b7c9"],"x":75,"y":4140,"wires":[["fce15f66.19285"]]},{"id":"fce15f66.19285","type":"switch","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"svg_rel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":4140,"wires":[["65120b74.4f8264"]]},{"id":"bbd07c21.d8623","type":"exec","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","command":"/usr/bin/dot","addpay":"param","append":"-Tsvg ","useSpawn":"false","timer":"","oldrc":false,"name":"","x":250,"y":4260,"wires":[["3bd3fab7.0aaba6"],["7b13c69f.a3ded8"],["b13937e4.411e28"]]},{"id":"38e9d4d4.5cc62c","type":"link out","z":"b097b4d6.d4cfe8","g":"6c6d0299.70728c","name":"","links":["74d68189.29aa3","fc40e06a.327d2"],"x":695,"y":3560,"wires":[]},{"id":"ea621d4d.2e8b6","type":"template","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","field":"param","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-o {{{svg}}} {{{filename}}}","output":"str","x":740,"y":4140,"wires":[["bbd07c21.d8623","59da8fc1.c7587"]]},{"id":"65120b74.4f8264","type":"change","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","rules":[{"t":"set","p":"svg","pt":"msg","to":"'/home/pi/JIM/node-red-static/output'&$replace(_socketId, 'tokenize#', '')&'.svg'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4140,"wires":[["ea621d4d.2e8b6"]]},{"id":"3bd3fab7.0aaba6","type":"debug","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":4220,"wires":[]},{"id":"7b13c69f.a3ded8","type":"debug","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":4260,"wires":[]},{"id":"b13937e4.411e28","type":"debug","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":4300,"wires":[]},{"id":"7f6478e3.434e88","type":"link out","z":"b097b4d6.d4cfe8","name":"","links":["1ffb83be.21653c"],"x":575,"y":420,"wires":[]},{"id":"1ffb83be.21653c","type":"link in","z":"b097b4d6.d4cfe8","g":"1fc1dcb6.7d2873","name":"","links":["7f6478e3.434e88"],"x":75,"y":4440,"wires":[["2f15a060.df36c","5695ea41.da5924"]]},{"id":"2f15a060.df36c","type":"change","z":"b097b4d6.d4cfe8","g":"1fc1dcb6.7d2873","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.url","pt":"msg","to":"'/files'&$replace(_socketId, 'tokenize#', '')&'.svg'","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"svg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":4440,"wires":[["365c7f3.5cc778"]]},{"id":"365c7f3.5cc778","type":"link out","z":"b097b4d6.d4cfe8","g":"1fc1dcb6.7d2873","name":"Diagram","links":["ee359376.e7b86"],"x":695,"y":4440,"wires":[]},{"id":"5695ea41.da5924","type":"debug","z":"b097b4d6.d4cfe8","g":"1fc1dcb6.7d2873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":4500,"wires":[]},{"id":"4da72d55.153604","type":"link out","z":"1bce6373.1f553d","name":"","links":["4ac2f342.d9c31c"],"x":555,"y":140,"wires":[]},{"id":"4ac2f342.d9c31c","type":"link in","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"","links":["4da72d55.153604"],"x":75,"y":920,"wires":[["78738301.c478cc"]]},{"id":"7f4f6360.991d9c","type":"template","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"","field":"query.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO tokenize.rules_flow(\n\tcategory, name, \"desc\", flow, update_dt)\n\tVALUES ($1, $2, $3, $4, current_timestamp)\non conflict (category, name)\ndo\n    update set \n        \"desc\"=$3,\n        flow=$4,\n        update_dt=current_timestamp\n;\n","output":"str","x":660,"y":920,"wires":[["c143d976.767048"]]},{"id":"2493a561.3fe5aa","type":"change","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"query.values","pt":"msg","to":"[\"Tokenization\", msg.payload.name, msg.payload.desc, msg.payload.df]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":920,"wires":[["7f4f6360.991d9c"]]},{"id":"78738301.c478cc","type":"json","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"","property":"payload.df","action":"str","pretty":false,"x":230,"y":920,"wires":[["2493a561.3fe5aa"]]},{"id":"c143d976.767048","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":250,"y":1000,"wires":[["280d7fd5.30408"]]},{"id":"280d7fd5.30408","type":"change","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"notification","rules":[{"t":"set","p":"topic","pt":"msg","to":"notification","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"Saved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1000,"wires":[["551af372.f7cbac","59b422a1.81f65c"]]},{"id":"551af372.f7cbac","type":"link out","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"rules-out: catList","links":["b0e832e5.876aa"],"x":775,"y":1000,"wires":[]},{"id":"c79b941e.7f3b28","type":"link in","z":"1bce6373.1f553d","g":"7488d8fb.e342a8","name":"","links":["566568de.0fd688","59b422a1.81f65c"],"x":75,"y":1140,"wires":[["36ad9f1f.f1ffe"]]},{"id":"566568de.0fd688","type":"link out","z":"1bce6373.1f553d","name":"","links":["c79b941e.7f3b28"],"x":555,"y":180,"wires":[]},{"id":"36ad9f1f.f1ffe","type":"template","z":"1bce6373.1f553d","g":"7488d8fb.e342a8","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n    * \nFROM tokenize.rules_flow\nwhere\n    category='Tokenization'\nORDER BY name ASC\n;","output":"str","x":260,"y":1140,"wires":[["4b5ec486.f2562c"]]},{"id":"4b5ec486.f2562c","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","g":"7488d8fb.e342a8","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":630,"y":1140,"wires":[["8fbc71a7.3ac0e"]]},{"id":"8fbc71a7.3ac0e","type":"change","z":"1bce6373.1f553d","g":"7488d8fb.e342a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"flowList","tot":"str"},{"t":"set","p":"postgress","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"postgress.rows","tot":"msg"},{"t":"set","p":"payload.config","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.config.col","pt":"msg","to":"[{\"title\":\"ID\",\"field\":\"id\",\"width\":50,\"align\":\"right\"},{\"title\":\"Name\",\"field\":\"name\"},{\"title\":\"Updated At\",\"field\":\"update_dt\",\"formatter\":\"datetime\",\"width\":120},{\"title\":\"Description\",\"field\":\"desc\",\"widthGrow\":1}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1220,"wires":[["ccc11275.a7d09"]]},{"id":"ccc11275.a7d09","type":"link out","z":"1bce6373.1f553d","g":"7488d8fb.e342a8","name":"rules-out: catList","links":["b0e832e5.876aa"],"x":795,"y":1220,"wires":[]},{"id":"59b422a1.81f65c","type":"link out","z":"1bce6373.1f553d","g":"4247aac2.748f34","name":"","links":["c79b941e.7f3b28"],"x":775,"y":960,"wires":[]},{"id":"2a2f2d44.b62a82","type":"link in","z":"1bce6373.1f553d","g":"a8e38b0a.76ea58","name":"","links":[],"x":75,"y":740,"wires":[["4df1f46b.baccbc"]]},{"id":"e551a682.ffa138","type":"link in","z":"1bce6373.1f553d","g":"3dd7a3c.d66c35c","name":"","links":["8764a8cb.81a6a8","4e612036.16eff"],"x":75,"y":1580,"wires":[["7f01b733.9b3028"]]},{"id":"7f01b733.9b3028","type":"template","z":"1bce6373.1f553d","g":"3dd7a3c.d66c35c","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n    * \nFROM tokenize.rules_task\nwhere\n    category='Tokenization'\nORDER BY name ASC\n;","output":"str","x":260,"y":1580,"wires":[["ab786a62.a4f558"]]},{"id":"ab786a62.a4f558","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","g":"3dd7a3c.d66c35c","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":630,"y":1580,"wires":[["30b405ca.6ab10a"]]},{"id":"30b405ca.6ab10a","type":"change","z":"1bce6373.1f553d","g":"3dd7a3c.d66c35c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"taskList","tot":"str"},{"t":"set","p":"postgress","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"postgress.rows","tot":"msg"},{"t":"set","p":"payload.config","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.config.col","pt":"msg","to":"[{\"title\":\"ID\",\"field\":\"id\",\"width\":50,\"align\":\"right\"},{\"title\":\"Name\",\"field\":\"name\"},{\"title\":\"Updated At\",\"field\":\"update_dt\",\"formatter\":\"datetime\",\"width\":120},{\"title\":\"Description\",\"field\":\"desc\",\"widthGrow\":1}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1660,"wires":[["ec0136ef.ae2818"]]},{"id":"ec0136ef.ae2818","type":"link out","z":"1bce6373.1f553d","g":"3dd7a3c.d66c35c","name":"rules-out: catList","links":["b0e832e5.876aa"],"x":795,"y":1660,"wires":[]},{"id":"c651ede2.82eef","type":"link in","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"","links":["ebeaeb65.906d58"],"x":75,"y":1360,"wires":[["18764f37.3f0421"]]},{"id":"d2c4ff3d.d7429","type":"template","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"","field":"query.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO tokenize.rules_task(\n\tcategory, name, \"desc\", task, update_dt)\n\tVALUES ($1, $2, $3, $4, current_timestamp)\non conflict (category, name)\ndo\n    update set \n        \"desc\"=$3,\n        task=$4,\n        update_dt=current_timestamp\n;\n","output":"str","x":660,"y":1360,"wires":[["2c0854cc.a2deac"]]},{"id":"51994c8a.c70f04","type":"change","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"query.values","pt":"msg","to":"[\"Tokenization\", msg.payload.name, msg.payload.desc, msg.payload.df]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1360,"wires":[["d2c4ff3d.d7429"]]},{"id":"18764f37.3f0421","type":"json","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"","property":"payload.df","action":"str","pretty":false,"x":230,"y":1360,"wires":[["51994c8a.c70f04"]]},{"id":"2c0854cc.a2deac","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":250,"y":1440,"wires":[["f1d8378b.5a9448"]]},{"id":"f1d8378b.5a9448","type":"change","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"notification","rules":[{"t":"set","p":"topic","pt":"msg","to":"notification","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"Saved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1440,"wires":[["13386b9e.bd93a4","8764a8cb.81a6a8"]]},{"id":"13386b9e.bd93a4","type":"link out","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"rules-out: catList","links":["b0e832e5.876aa"],"x":775,"y":1440,"wires":[]},{"id":"8764a8cb.81a6a8","type":"link out","z":"1bce6373.1f553d","g":"8a40372c.7e8758","name":"","links":["e551a682.ffa138"],"x":775,"y":1400,"wires":[]},{"id":"4e612036.16eff","type":"link out","z":"1bce6373.1f553d","name":"","links":["e551a682.ffa138"],"x":555,"y":260,"wires":[]},{"id":"ebeaeb65.906d58","type":"link out","z":"1bce6373.1f553d","name":"","links":["c651ede2.82eef"],"x":555,"y":220,"wires":[]},{"id":"537b9967.fe0498","type":"link out","z":"1bce6373.1f553d","name":"","links":["72bc08d4.7e8708"],"x":555,"y":300,"wires":[]},{"id":"72bc08d4.7e8708","type":"link in","z":"1bce6373.1f553d","name":"","links":["537b9967.fe0498"],"x":75,"y":1800,"wires":[["e46fa1fc.8d676","fc6980e.22c478"]]},{"id":"e46fa1fc.8d676","type":"debug","z":"1bce6373.1f553d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1860,"wires":[]},{"id":"fc6980e.22c478","type":"change","z":"1bce6373.1f553d","name":"select=true","rules":[{"t":"set","p":"payload.selected_docs","pt":"msg","to":"payload.documents[select=true]\t","tot":"jsonata"},{"t":"set","p":"payload.selected_docs","pt":"msg","to":"$map(\t    payload.selected_docs,\t    function($v, $i, $a) {\t        $i = $count($a) - 1 ? $merge([$v, {'last':true}]): $v\t    }\t)","tot":"jsonata"},{"t":"set","p":"rules","pt":"msg","to":"payload.df","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1800,"wires":[["b76f14b1.55ca18","5a5efbf1.ff9394"]]},{"id":"b76f14b1.55ca18","type":"debug","z":"1bce6373.1f553d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1840,"wires":[]},{"id":"1fb68ae8.b88ba5","type":"digitaloak-postgresql-query","z":"1bce6373.1f553d","name":"","server":"1351911c.3264cf","inputs":1,"outputs":1,"x":250,"y":1920,"wires":[["e3b3679d.accd58","908dec30.fc20b"]]},{"id":"a582e396.1838d","type":"template","z":"1bce6373.1f553d","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"WITH temp_data_array (filename, subgroup, ext, language) AS (\n\tvalues \n{{#payload.selected_docs}}\n    ( '{{{abs_filename}}}', jsonb '{{{subgroup_str}}}', '{{{ext}}}', jsonb '{{{language_str}}}' ) {{^last}},{{/last}}\n{{/payload.selected_docs}}\n)\nselect\n    ROW_NUMBER() OVER () as rnum,\n    r.*,\n\tcase\n\t\twhen r.group = '' or r.group is null then 'null'\n\t\telse replace(translate(r.group, '–-&()/,+?.“”', ' '), ' ', '_') \n\tend groupnm\nfrom \n(\n\n    select\n    \td.subgroup,\n    \tjsonb_array_elements(arr.item_object->'group')#>>'{}' as group,\n    \t(arr.item_object->'fieldname')#>>'{}' as fieldname\n    from temp_data_array t, tokenize.doc_json d, jsonb_array_elements(d.data) with ordinality arr(item_object, position) \n    where\n    \td.filename = t.filename\n    \tand d.subgroup = t.subgroup\n    \tand d.ext = t.ext\n    \tand d.language = t.language\n    \tand arr.item_object->>'status' = 'true'\n) as r\n;","output":"str","x":720,"y":1800,"wires":[["bd7cc560.315888","1fb68ae8.b88ba5"]]},{"id":"bd7cc560.315888","type":"debug","z":"1bce6373.1f553d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1800,"wires":[]},{"id":"59da8fc1.c7587","type":"debug","z":"b097b4d6.d4cfe8","g":"92ce3f34.9d635","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":4140,"wires":[]},{"id":"5a5efbf1.ff9394","type":"function","z":"1bce6373.1f553d","name":"","func":"node.warn(msg.payload.selected_docs);\nif (Array.isArray(msg.payload.selected_docs)) {\n    for (var idx in msg.payload.selected_docs) {\n        msg.payload.selected_docs[idx].subgroup_str = JSON.stringify(msg.payload.selected_docs[idx].subgroup);\n        msg.payload.selected_docs[idx].language_str = JSON.stringify(msg.payload.selected_docs[idx].language);\n    }\n} else {\n        msg.payload.selected_docs.subgroup_str = JSON.stringify(msg.payload.selected_docs.subgroup);\n        msg.payload.selected_docs.language_str = JSON.stringify(msg.payload.selected_docs.language);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1800,"wires":[["a582e396.1838d"]]},{"id":"e3b3679d.accd58","type":"debug","z":"1bce6373.1f553d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1980,"wires":[]},{"id":"908dec30.fc20b","type":"function","z":"1bce6373.1f553d","name":"jsonLogicJs","func":"var doRegexUpperCase = function(data){\n    var value = data.input;\n    var result=[];\n    if (value instanceof Array) {\n        for (var v in value) {\n            if (value[v]) {\n                temp = value[v].toUpperCase();\n                if (temp instanceof Array) {\n                    result.push(...temp);\n                } else {\n                    result.push(temp);\n                }\n            }\n        }\n    } else {\n        if (value.length>0) {\n            temp = value.toUpperCase();\n            if (temp instanceof Array) {\n                result.push(...temp);\n            } else {\n                result.push(temp);\n            }\n        }\n    }\n    return {\n        'output':result,\n        'runtime_list': data.runtime_list,\n        'runtime_dict': data.runtime_dict\n    }\n};\n\nvar doRegexMatch = function(pattern, flag, data){\n    var value = data.input;\n    var re = new RegExp(pattern, flag);\n    var result=[];\n    if (value instanceof Array) {\n        for (var v in value) {\n            temp = value[v].match(re);\n            if (temp instanceof Array) {\n                result.push(...temp);\n            } else {\n                result.push(temp);\n            }\n        }\n    } else {\n        temp = value.match(re);\n        if (temp instanceof Array) {\n            result.push(...temp);\n        } else {\n            result.push(temp);\n        }\n    }\n    return {\n        'output':result,\n        'runtime_list': data.runtime_list,\n        'runtime_dict': data.runtime_dict\n    }\n};\n\nvar doRegexSplit = function(pattern, data){\n    var value = data.input;\n    var re = new RegExp(pattern);\n    var result=[];\n    if (value instanceof Array) {\n        for (var v in value) {\n            temp = value[v].split(re);\n            if (temp instanceof Array) {\n                result.push(...temp);\n            } else {\n                result.push(temp);\n            }\n        }\n    } else {\n        var temp = value.split(re);\n        if (temp instanceof Array) {\n            result.push(...temp);\n        } else {\n            result.push(temp);\n        }\n    }\n    return {\n        'output':result,\n        'runtime_list': data.runtime_list,\n        'runtime_dict': data.runtime_dict\n    }\n};\n\nvar doRegexReplace = function(pattern, flag, param, data){\n    var value = data.input;\n    var re = new RegExp(pattern, flag);\n    var result=[];\n    if (value instanceof Array) {\n        //node.warn(\"doRegexReplace1:\"+JSON.stringify(value));\n        for (var v in value) {\n            temp = value[v].replace(re, param);\n            //node.warn(\"doRegexReplace2[\"+JSON.stringify(temp)+\"](\"+pattern+\"):\"+JSON.stringify(value[v]));\n            if (temp instanceof Array) {\n                result.push(...temp);\n            } else {\n                result.push(temp);\n            }\n            //node.warn(\"doRegexReplace3[\"+JSON.stringify(result)+\"]\");\n        }\n    } else {\n        var temp = value.replace(re, param);\n        if (temp instanceof Array) {\n            result.push(...temp);\n        } else {\n            result.push(temp);\n        }\n    }\n    return {\n        'output':result,\n        'runtime_list': data.runtime_list,\n        'runtime_dict': data.runtime_dict\n    }\n};\n\nvar doArrayJoin = function(param, data){\n    var value = data.input;\n    var result = null;\n    if (value instanceof Array) {\n        result = [value.join(param)];\n    } else {\n        result = [value];\n    }\n    return {\n        'output':result,\n        'runtime_list': data.runtime_list,\n        'runtime_dict': data.runtime_dict\n    }\n};\n\nfunction findHead(dic) {\n    for (var idx in dic) {\n        if (dic[idx].inputs.input_1.connections.length == 0)\n            return idx;\n    }\n    return null;\n}\n\nfunction getNext(dic, curIdx) {\n    if (dic[curIdx].outputs.output_1.connections.length > 0)\n        return parseInt(dic[curIdx].outputs.output_1.connections[0].node);\n    return null;\n}\n\njsonLogicJs.add_operation(\"regex_upper\", doRegexUpperCase);\njsonLogicJs.add_operation(\"regex_match\", doRegexMatch);\njsonLogicJs.add_operation(\"regex_split\", doRegexSplit);\njsonLogicJs.add_operation(\"regex_replace\", doRegexReplace);\njsonLogicJs.add_operation(\"array_join\", doArrayJoin);\n\nvar itemlist = msg.payload.rows;\nvar tokenlist = [];\nvar runtime_dict = {\n    'global':{},\n    'task':{},\n    'flow':{}\n}\nvar runtime_list = {\n    'global':[],\n    'task':[],\n    'flow':[]    \n};\n\nfor (var item_idx in itemlist) {\n    var item = itemlist[item_idx];\n    var item_process = item.fieldname;\n    var output =item.fieldname;\n\n    var taskData = msg.rules.drawflow.Home.data;\n    curTaskIdx = findHead(taskData);\n    task = curTaskIdx;\n    runtime_dict.task = {};\n    runtime_list.task = [];\n    while (task) {\n        //node.warn(\"task:\"+taskData[task].html);\n    \n        var flowData = taskData[task].data.drawflow.Flow.data;\n        var curFlowIdx = findHead(flowData);\n        flow = curFlowIdx;\n        runtime_dict.flow = {};\n        runtime_list.flow = [];\n        while (flow) {\n            //node.warn(\"\\tflow:\"+flowData[flow].html);\n    \n            var rule = flowData[flow].data;\n            result = jsonLogicJs.apply(\n                rule,\n                {\n                    \"data\": {\n                        'input': item_process,\n                        \"runtime_list\":runtime_list,\n                        \"runtime_dict\":runtime_dict\n                    }\n                }\n            );\n            runtime_list = result.runtime_list;\n            runtime_dict = result.runtime_dict;\n            //node.warn(rule);\n            //node.warn(\"tokenized[\"+item_process+\"]:\"+JSON.stringify(tokenized));\n            item_process=result.output;\n            flow = getNext(flowData, curFlowIdx);\n            curFlowIdx = flow;\n        }\n        \n        task = getNext(taskData, curTaskIdx);\n        curTaskIdx = task;\n    }\n    \n    tokenlist.push({\n        \"original\":item,\n        \"output\":result.output\n    });\n}\n\nmsg.tokenlist = tokenlist;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"jsonLogicJs","module":"json-logic-js"}],"x":490,"y":1920,"wires":[["27858f73.d0fa6","85bd0cb.9f9e5f"]]},{"id":"27858f73.d0fa6","type":"debug","z":"1bce6373.1f553d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":1980,"wires":[]},{"id":"48864ebc.b95f7","type":"template","z":"1bce6373.1f553d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"strict digraph models_diagram{\n    graph[rankdir=LR, overlap=false, splines=true];\n    node [shape=record, fontsize=9, fontname=\"Verdana\"];\n    edge [style=solid];\n\n{{#payload}}\n    {{filename_id}} [label=\"{{{filename}}}\"];\n    {{group_id}} [label=\"{{{group}}}\"];\n    {{fieldname_id}} [label=\"{{{fieldname}}}\"];\n    {{token_id}} [label=\"{{{token}}}\"];\n{{/payload}}\n\n{{#payload}}\n    {{group_id}} -> {{filename_id}};\n    {{fieldname_id}} -> {{group_id}};\n    {{token_id}} -> {{fieldname_id}};\n{{/payload}}\n}","output":"str","x":880,"y":1920,"wires":[["8291de3d.b0821"]]},{"id":"e91524ab.a69038","type":"template","z":"1bce6373.1f553d","name":"ER Diagram","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"digraph models_diagram{\n    graph[rankdir=LR, overlap=false, splines=true];\n    node [shape=record, fontsize=9, fontname=\"Verdana\"];\n    edge [style=solid];\n\n{{#tokenlist}}\n  {{original.groupnm}} [shape=none, margin=0, label=<\n    <table border=\"0\" cellborder=\"1\" cellspacing=\"0\" cellpadding=\"4\">\n        <tr><td bgcolor=\"lightblue\">{{{original.group}}}</td></tr>\n        <tr><td bgcolor=\"lightblue\">{{{original.fieldname}}}</td></tr>\n        {{#tokens}}\n        <tr><td port=\"{{{.}}}\" align=\"left\">{{{.}}}</td></tr>\n        {{/tokens}}\n    </table>>];\n{{/tokenlist}}\n}","output":"str","x":250,"y":2040,"wires":[["8291de3d.b0821"]]},{"id":"178a1a9e.0c8485","type":"link out","z":"1bce6373.1f553d","name":"","links":["7ab5cfd4.261cc","1c78147f.8c08cc"],"x":835,"y":2040,"wires":[]},{"id":"8291de3d.b0821","type":"change","z":"1bce6373.1f553d","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join($append('/home/pi/JIM/node-red-static/temp', [msg._socketId, \"_tok\"]),\"\")","tot":"jsonata"},{"t":"delete","p":"query","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"svg_tok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2040,"wires":[["178a1a9e.0c8485"]]},{"id":"fc40e06a.327d2","type":"link in","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","links":["38e9d4d4.5cc62c","f224d63d.ab2f08","d96afd1b.83ccc"],"x":95,"y":2460,"wires":[["ca107aa0.0b14a8"]]},{"id":"ca107aa0.0b14a8","type":"switch","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"svg_rel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":2460,"wires":[["848dff4e.96a94"]]},{"id":"4724f8e3.a1cd18","type":"exec","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","command":"/usr/bin/dot","addpay":"param","append":"-Tsvg ","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":2580,"wires":[["120a85e5.35040a"],["e3a6c6ea.604738"],["5489eb4a.f71764"]]},{"id":"64a48dd3.bbedb4","type":"template","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","field":"param","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-o {{{svg}}} {{{filename}}}","output":"str","x":760,"y":2460,"wires":[["4724f8e3.a1cd18","9638a442.996c18"]]},{"id":"848dff4e.96a94","type":"change","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","rules":[{"t":"set","p":"svg","pt":"msg","to":"'/home/pi/JIM/node-red-static/output'&$replace(_socketId, 'tokenize#', '')&'.svg'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2460,"wires":[["64a48dd3.bbedb4"]]},{"id":"120a85e5.35040a","type":"debug","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":2540,"wires":[]},{"id":"e3a6c6ea.604738","type":"debug","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":2580,"wires":[]},{"id":"5489eb4a.f71764","type":"debug","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":2620,"wires":[]},{"id":"9638a442.996c18","type":"debug","z":"1bce6373.1f553d","g":"79ba4aa6.8de9c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":2460,"wires":[]},{"id":"6ee6cd3b.2739c4","type":"debug","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":2260,"wires":[]},{"id":"e937659a.055248","type":"debug","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":2260,"wires":[]},{"id":"171b4f22.7e2d51","type":"debug","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":2300,"wires":[]},{"id":"efc73623.e6ffd8","type":"change","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","rules":[{"t":"set","p":"svg","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"svg","tot":"msg"},{"t":"delete","p":"svg","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":2220,"wires":[["2b2e71a8.b9bb6e"]]},{"id":"2b2e71a8.b9bb6e","type":"link out","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"Diagram","links":["b0e832e5.876aa"],"x":955,"y":2220,"wires":[]},{"id":"d2c1822c.7e8e2","type":"exec","z":"1bce6373.1f553d","g":"4b26fe81.bb137","command":"/usr/bin/dot","addpay":"filename","append":"-Tsvg ","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":2260,"wires":[["f430fe1b.cab1a"],["e937659a.055248"],["171b4f22.7e2d51"]]},{"id":"f430fe1b.cab1a","type":"function","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"SVG resize","func":"//msg.payload = msg.payload.replace(/svg width=\".*\" height=\".*\"/, 'svg width=\"100%\" height=\"100%\"');\nlet re = /<svg width=\".*\" height=\".*\"/;\n\nmsg.payload = msg.payload.replace(re, '<svg width=\"100%\" height=\"100%\"');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":2220,"wires":[["efc73623.e6ffd8","6ee6cd3b.2739c4"]]},{"id":"7646baa1.f964e4","type":"file","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":2140,"wires":[["d2c1822c.7e8e2","2c243f71.1b7c9"]]},{"id":"2e275159.74822e","type":"function","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"SVG patch","func":"let re = /[0-9]+__/g;\nlet re2 = /&/g;\n\nmsg.payload = msg.payload.replace(re, '');\nmsg.payload = msg.payload.replace(re2, '&#38;');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":2140,"wires":[["7646baa1.f964e4"]]},{"id":"2c243f71.1b7c9","type":"link out","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","links":["74d68189.29aa3"],"x":715,"y":2140,"wires":[]},{"id":"1c78147f.8c08cc","type":"link in","z":"1bce6373.1f553d","g":"4b26fe81.bb137","name":"","links":["178a1a9e.0c8485"],"x":75,"y":2140,"wires":[["2e275159.74822e"]]},{"id":"cae4b9f1.bb67b8","type":"function","z":"1bce6373.1f553d","name":"","func":"var unq_idx = 0;\nvar uniq = {};\nvar conn = {};\n\nfunction unique(level, data) {\n    if (!(level in uniq)) {\n        uniq[level] = {};\n    }\n        \n    if (data in uniq[level]) {\n        return uniq[level][data];\n    } else {\n        unq_idx = unq_idx + 1;\n        uniq[level][data] = unq_idx;\n        return unq_idx;\n    }\n}\n\nvar newPayload = []\nfor (var t_idx in msg.tokenlist) {\n    var item = msg.tokenlist[t_idx];\n    for (var tt_idx in item.output) {\n        var tok = item.output[tt_idx];\n        /*\n        newPayload.push({\n            'filename_id': unique('file', item.original.subgroup.filename),\n            'group_id': unique('group', item.original.group),\n            'fieldname_id': unique('fieldname', item.original.fieldname),\n            'token_id': unique('token', tok),\n            'filename': item.original.subgroup.filename,\n            'group': item.original.group,\n            'fieldname': item.original.fieldname,\n            'token': tok\n        });\n        */\n        if (!(unique('token', tok) in conn)) {\n            conn[unique('token', tok)] = [];\n        }\n        if (!(unique('fieldname', item.original.fieldname) in conn[unique('token', tok)])) {\n            conn[unique('token', tok)].push(unique('fieldname', item.original.fieldname));\n        }\n\n        if (!(unique('fieldname', item.original.fieldname) in conn)) {\n            conn[unique('fieldname', item.original.fieldname)] = [];\n        }\n        if (!(unique('group', item.original.group) in conn[unique('fieldname', item.original.fieldname)])) {\n            conn[unique('fieldname', item.original.fieldname)].push(unique('group', item.original.group));\n        }\n        \n        if (!(unique('group', item.original.group) in conn)) {\n            conn[unique('group', item.original.group)] = [];\n        }\n        if (!(unique('file', item.original.subgroup.filename) in conn[unique('group', item.original.group)])) {\n            conn[unique('group', item.original.group)].push(unique('file', item.original.subgroup.filename));\n        }\n    }\n}\nmsg.payload = {\n    'conn': conn,\n    'node': uniq\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2020,"wires":[[]]},{"id":"8165cd2d.8e051","type":"debug","z":"1bce6373.1f553d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":868.3402709960938,"y":1963.5555419921875,"wires":[]},{"id":"85bd0cb.9f9e5f","type":"function","z":"1bce6373.1f553d","name":"","func":"var unq_idx = 0;\nvar uniq = {};\nvar conn = {};\n\nfunction unique(level, data) {\n    if (!(level in uniq)) {\n        uniq[level] = {};\n    }\n        \n    if (data in uniq[level]) {\n        return uniq[level][data];\n    } else {\n        unq_idx = unq_idx + 1;\n        uniq[level][data] = unq_idx;\n        return unq_idx;\n    }\n}\n\nvar newPayload = []\nfor (var t_idx in msg.tokenlist) {\n    var item = msg.tokenlist[t_idx];\n    for (var tt_idx in item.output) {\n        var tok = item.output[tt_idx];\n\n        newPayload.push({\n            'filename_id': unique('file', item.original.subgroup.filename),\n            'group_id': unique('group', item.original.group),\n            'fieldname_id': unique('fieldname', item.original.fieldname),\n            'token_id': unique('token', tok),\n            'filename': item.original.subgroup.filename,\n            'group': item.original.group,\n            'fieldname': item.original.fieldname,\n            'token': tok\n        });\n/*\n        if (!(unique('token', tok) in conn)) {\n            conn[unique('token', tok)] = [];\n        }\n        if (!(unique('fieldname', item.original.fieldname) in conn[unique('token', tok)])) {\n            conn[unique('token', tok)].push(unique('fieldname', item.original.fieldname));\n        }\n\n        if (!(unique('fieldname', item.original.fieldname) in conn)) {\n            conn[unique('fieldname', item.original.fieldname)] = [];\n        }\n        if (!(unique('group', item.original.group) in conn[unique('fieldname', item.original.fieldname)])) {\n            conn[unique('fieldname', item.original.fieldname)].push(unique('group', item.original.group));\n        }\n        \n        if (!(unique('group', item.original.group) in conn)) {\n            conn[unique('group', item.original.group)] = [];\n        }\n        if (!(unique('file', item.original.subgroup.filename) in conn[unique('group', item.original.group)])) {\n            conn[unique('group', item.original.group)].push(unique('file', item.original.subgroup.filename));\n        }\n*/\n    }\n}\n/*\nmsg.payload = {\n    'conn': conn,\n    'node': uniq\n}\n*/\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1920,"wires":[["48864ebc.b95f7"]]}]